/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.row {
    width: 100%;
    display: inline-block;
}

/* Home page grid adjustments */
#zone-content-wrapper.wrapper {
    padding: 0;
}

#zone-content-wrapper.wrapper .zone-content .col {
    margin-left: 2.685%;
    padding: 0 1.344%;
}

/*#zone-content-wrapper.wrapper .zone-content #region-content.grid-16 {
    margin-left: 0;
}*/

#zone-content-wrapper.wrapper .zone-content .grid-8 {
    margin-left: 0;
    width: 31.544%;
}

#zone-content-wrapper.wrapper .zone-content .grid-16 {
    width: 65.772%;
}

#zone-content-wrapper.wrapper .zone-content .col:first-child {
    margin-left: 0;
}

#region-footer-first,
#region-footer-first-right {
    width: 49%;
    margin-left: 0;
    padding: 0;
}

#region-footer-first .grid-6 {
    width: 47.96%;
    margin-left: 4.082%;
    padding: 0 2.041%;
}

#region-footer-first-right {
    width: 51%;
}

#region-footer-first-right .grid-6 {
    width: 46.08%;
    margin-left: 3.922%;
    padding: 0 1.963%;
}

.hack-magic {
    padding: 0 2.041%;
    margin-left: 4.082%;
}

div.map,
div.footer-more-hours {
    float: right;
}

div.stilts {
    float: left;
}

@media screen and (min-width: 0) and (max-width: 959px) {
    .hack-magic {
        margin-left: 0;
    }
}

@media screen and (min-width: 0) and (max-width: 959px) {

    #zone-content-wrapper.wrapper .col {
        margin-left:2%;
        padding:0 1%;
    }

    #region-footer-first .grid-6,
    #region-footer-first-right .grid-6 {
        width: 100%;
    }

}

   /* 1. 24 Column Grid 0px - 719px 
    ----------------------------------------------------------------------------- 
    
    Span 1 - Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0) and (max-width: 719px) {
        
        .page {
            
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
            padding:0 1%;
        }
        
        .row .col:first-child,
        .row #region-sidebar-first,
        .row .grid-16.region-content,
        #zone-content-wrapper.wrapper .grid-24.region-content,
        #footer .alpha {
            margin-left:0;
        }
        
        .span_1,
        .span_2,
        .span_3,
        .span_4,
        .span_5,
        .span_6,
        .span_7,
        .span_8,
        .span_9,
        .span_10,
        .span_11,
        .span_12,
        .span_13,
        .span_14,
        .span_15,
        .span_16,
        .span_17,
        .span_18,
        .span_19,
        .span_20,
        .span_21,
        .span_22,
        .span_23,
        .span_24,
        .grid-1,
        .grid-2,
        .grid-3,
        .grid-4,
        .grid-5,
        .grid-6,
        .grid-7,
        .grid-8,
        .grid-9,
        .grid-10,
        .grid-11,
        .grid-12,
        .grid-13,
        .grid-14,
        .grid-15,
        .grid-16,
        .grid-17,
        .grid-18,
        .grid-19,
        .grid-20,
        .grid-21,
        .grid-22,
        .grid-23,
        .grid-24 {
            margin-left:0 !important;
            width:100% !important;
        }

    }

    /* 2. 24 Column Grid 720px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    2.25%
    Span 2:    6.5%
    Span 3:    10.75%
    Span 4:    15.0%
    Span 5:    19.25%
    Span 6:    23.5%
    Span 7:    27.75%
    Span 8:    32.0%
    Span 9:    36.25%
    Span 10:    40.5%
    Span 11:    44.75%
    Span 12:    49.0%
    Span 13:    53.25%
    Span 14:    57.5%
    Span 15:    61.75%
    Span 16:    66.0%
    Span 17:    70.25%
    Span 18:    74.5%
    Span 19:    78.75%
    Span 20:    83.0%
    Span 21:    87.25%
    Span 22:    91.5%
    Span 23:    95.75%
    Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 720px) and (max-width: 959px) {
        
        .page {
            width: 720px;
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
        	padding:0 1%;
        }
        
        .row .col:first-child,
        .row #region-sidebar-first,
        .row .grid-16.region-content,
        #zone-content-wrapper.wrapper .grid-24.region-content,
        #region-footer-first .alpha {
            margin-left:0;
        }
        
        
        
        .span_1,
        .grid-1 {
            width:2.25%;
        }
        .span_2,
        .grid-2 {
            width:6.5%;
        }
        .span_3,
        .grid-3 {
            width:10.75%;
        }
        .span_4,
        .grid-4 {
            width:15.0%;
        }
        .span_5,
        .grid-5 {
            width:19.25%;
        }
        .span_6,
        .grid-6 {
            width:23.5%;
        }
        .span_7,
        .grid-7 {
            width:27.75%;
        }
        .span_8,
        .grid-8 {
            width:32.0%;
        }
        .span_9,
        .grid-9 {
            width:36.25%;
        }
        .span_10,
        .grid-10 {
            width:40.5%;
        }
        .span_11,
        .grid-11 {
            width:44.75%;
        }
        .span_12,
        .grid-12 {
            width:49.0%;
        }
        .span_13,
        .grid-13 {
            width:53.25%;
        }
        .span_14,
        .grid-14 {
            width:57.5%;
        }
        .span_15,
        .grid-15 {
            width:61.75%;
        }
        .span_16,
        .grid-16 {
            width:66.0%;
        }
        .span_17,
        .grid-17 {
            width:70.25%;
        }
        .span_18,
        .grid-18 {
            width:74.5%;
        }
        .span_19,
        .grid-19 {
            width:78.75%;
        }
        .span_20,
        .grid-20 {
            width:83.0%;
        }
        .span_21,
        .grid-21 {
            width:87.25%;
        }
        .span_22,
        .grid-22 {
            width:91.5%;
        }
        .span_23,
        .grid-23 {
            width:95.75%;
        }
        .span_24,
        .grid-24 {
            margin-left:0;
            width:100%;
        }
    }

    /* 3. 24 Column Grid 960px - 1199px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    2.25%
    Span 2:    6.5%
    Span 3:    10.75%
    Span 4:    15.0%
    Span 5:    19.25%
    Span 6:    23.5%
    Span 7:    27.75%
    Span 8:    32.0%
    Span 9:    36.25%
    Span 10:    40.5%
    Span 11:    44.75%
    Span 12:    49.0%
    Span 13:    53.25%
    Span 14:    57.5%
    Span 15:    61.75%
    Span 16:    66.0%
    Span 17:    70.25%
    Span 18:    74.5%
    Span 19:    78.75%
    Span 20:    83.0%
    Span 21:    87.25%
    Span 22:    91.5%
    Span 23:    95.75%
    Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) and (max-width: 1199px) {
        
        .page { 
            width: 960px;
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
        	padding:0 1%;
        }
        
        .row .col:first-child,
        .row #region-sidebar-first,
        .row .grid-16.region-content,
        #zone-content-wrapper.wrapper .grid-24.region-content,
        #region-footer-first .alpha {
            margin-left:0;
        }
        
        
        
        .span_1,
        .grid-1 {
            width:2.25%;
        }
        .span_2,
        .grid-2 {
            width:6.5%;
        }
        .span_3,
        .grid-3 {
            width:10.75%;
        }
        .span_4,
        .grid-4 {
            width:15.0%;
        }
        .span_5,
        .grid-5 {
            width:19.25%;
        }
        .span_6,
        .grid-6 {
            width:23.5%;
        }
        .span_7,
        .grid-7 {
            width:27.75%;
        }
        .span_8,
        .grid-8 {
            width:32.0%;
        }
        .span_9,
        .grid-9 {
            width:36.25%;
        }
        .span_10,
        .grid-10 {
            width:40.5%;
        }
        .span_11,
        .grid-11 {
            width:44.75%;
        }
        .span_12,
        .grid-12 {
            width:49.0%;
        }
        .span_13,
        .grid-13 {
            width:53.25%;
        }
        .span_14,
        .grid-14 {
            width:57.5%;
        }
        .span_15,
        .grid-15 {
            width:61.75%;
        }
        .span_16,
        .grid-16 {
            width:66.0%;
        }
        .span_17,
        .grid-17 {
            width:70.25%;
        }
        .span_18,
        .grid-18 {
            width:74.5%;
        }
        .span_19,
        .grid-19 {
            width:78.75%;
        }
        .span_20,
        .grid-20 {
            width:83.0%;
        }
        .span_21,
        .grid-21 {
            width:87.25%;
        }
        .span_22,
        .grid-22 {
            width:91.5%;
        }
        .span_23,
        .grid-23 {
            width:95.75%;
        }
        .span_24,
        .grid-24 {
            margin-left:0;
            width:100%;
        }
    }

    /* 4. 24 Column Grid 1200px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    2.25%
    Span 2:    6.5%
    Span 3:    10.75%
    Span 4:    15.0%
    Span 5:    19.25%
    Span 6:    23.5%
    Span 7:    27.75%
    Span 8:    32.0%
    Span 9:    36.25%
    Span 10:    40.5%
    Span 11:    44.75%
    Span 12:    49.0%
    Span 13:    53.25%
    Span 14:    57.5%
    Span 15:    61.75%
    Span 16:    66.0%
    Span 17:    70.25%
    Span 18:    74.5%
    Span 19:    78.75%
    Span 20:    83.0%
    Span 21:    87.25%
    Span 22:    91.5%
    Span 23:    95.75%
    Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 1200px) {
        
        .page { 
            width: 1200px;
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
        	padding:0 1%;
        }
        
        .row .col:first-child,
        .row #region-sidebar-first,
        .row .grid-16.region-content,
        #zone-content-wrapper.wrapper .grid-24.region-content,
        #region-footer-first .alpha {
            margin-left:0;
        }
        
        
        
        .span_1,
        .grid-1 {
            width:2.25%;
        }
        .span_2,
        .grid-2 {
            width:6.5%;
        }
        .span_3,
        .grid-3 {
            width:10.75%;
        }
        .span_4,
        .grid-4 {
            width:15.0%;
        }
        .span_5,
        .grid-5 {
            width:19.25%;
        }
        .span_6,
        .grid-6 {
            width:23.5%;
        }
        .span_7,
        .grid-7 {
            width:27.75%;
        }
        .span_8,
        .grid-8 {
            width:32.0%;
        }
        .span_9,
        .grid-9 {
            width:36.25%;
        }
        .span_10,
        .grid-10 {
            width:40.5%;
        }
        .span_11,
        .grid-11 {
            width:44.75%;
        }
        .span_12,
        .grid-12 {
            width:49.0%;
        }
        .span_13,
        .grid-13 {
            width:53.25%;
        }
        .span_14,
        .grid-14 {
            width:57.5%;
        }
        .span_15,
        .grid-15 {
            width:61.75%;
        }
        .span_16,
        .grid-16 {
            width:66.0%;
        }
        .span_17,
        .grid-17 {
            width:70.25%;
        }
        .span_18,
        .grid-18 {
            width:74.5%;
        }
        .span_19,
        .grid-19 {
            width:78.75%;
        }
        .span_20,
        .grid-20 {
            width:83.0%;
        }
        .span_21,
        .grid-21 {
            width:87.25%;
        }
        .span_22,
        .grid-22 {
            width:91.5%;
        }
        .span_23,
        .grid-23 {
            width:95.75%;
        }
        .span_24,
        .grid-24 {
            margin-left:0;
            width:100%;
        }
    }