#searchLib form,
#searchLib form#webpac-title,
#searchLib form#webpac-author,
#searchLib form#webpac-subject,
#searchLib form#cse-search-box,
#searchLib label,
#searchLib input[type='radio'],
#searchLib select {
  display: none;
}

#searchDropdownBox,
#searchLib {
  float: left;
}
