/* put vertical scroll bars on categories fields on node add/edit pages */
#edit-field-categories-und { max-height: 200px; overflow-y: scroll; }

/* set font size for show tabs link on node edit forms */
body.page-node-edit li.show-hide { font-size: 0.7em; cursor: pointer; }