	<!--#include virtual="/stuff/universitylibraries/asl/header.shtml"-->  

		<div id="collections" class="page content">
            <div class="row">
                <div class="col span_16">
                	<div class="breadcrumb stilts">
                        <a href="/stuff/universitylibraries/asl">Home</a> » Collections
                    </div>
                    <h1>
                    	Collections
                    </h1>
                    <p>
                        Nothing to see here.  Try another page.
                    </p>
                </div>
                <div class="col span_8 sidebar">
                    <div class="sidebar-block">
                        <h2>
                            Sidebar Menu 1
                        </h2>
                        <ul>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-block">
                        <h2>
                            Sidebar Menu 2
                        </h2>
                        <ul>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-block">
                        <h2>
                            Sidebar Menu 3
                        </h2>
                        <ul>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="push"></div>
        </div>

	<!--#include virtual="/stuff/universitylibraries/asl/footer.shtml"--> 