  <!--#include virtual="header.shtml" --> 
  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col span_24">
          <div class="breadcrumb">
            <a href="http://www.library.unlv.edu">University Libraries</a> &raquo; <a href="/stuff/specialcollections">Special Collections Home</a> &raquo; Sub Page
          </div>
          <h1>
            Sub Page Title
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col span_16 main">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <h2>Subheading h2</h2>
          <figure>
            <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0287_0094(small).jpg">
            <figcaption>
              Caption text goes here
            </figcaption>
          </figure>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>
          <h3>Subheading h3</h3>
          <figure>
            <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0287_0559(small).jpg">
            <figcaption>
              Caption text goes here
            </figcaption>
          </figure>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </p>
          <blockquote>
            <p>
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>
          </blockquote>
          <h4>Subheading h4</h4>
          <div>
            <figure>
              <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0287_0094(small).jpg">
              <figcaption>
                Caption text goes here
              </figcaption>
            </figure>
            <figure>
              <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0287_0094(small).jpg">
              <figcaption>
                Caption text goes here
              </figcaption>
            </figure>
            <figure  style="margin-left: 0;">
              <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0287_0094(small).jpg">
              <figcaption>
                Caption text goes here
              </figcaption>
            </figure>
          </div>
          <p>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </p>
          <blockquote class="important">
            <p>
              Loud snoring is not permitted inside the library.
            </p>
          </blockquote>
          <p>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </p>
        </div>
        <aside class="col span_8 sidebar">
          <div class="region region-sidebar-second">
            <div class="block-block">
              <h4>Quick Links</h4>
              <ul>
                <li>
                  <a href="">Child Page 1</a>
                </li>
                <li>
                  <a href="">Child Page 2</a>
                </li>
                <li>
                  <a href="">Child Page 3</a>
                </li>
                <li>
                  <a href="">Child Page 4</a>
                </li>
                <li>
                  <a href="">Child Page 5</a>
                </li>
                <li>
                  <a href="">Child Page 6</a>
                </li>
              </ul>
            </div>
            <div class="block-block">
              <h4>Search</h4>
              <div id="sc-search">
                <form data-active="active" id="search-summon" action="http://unlv.summon.serialssolutions.com/search" method="get" enctype="application/x-www-form-urlencoded">
                  <div class="search-input-wrapper">
                    <input autofocus="focus" class="clearMeFocus" id="searchbox_s_q" name="s.q" type="text" placeholder="Quick Search" value="">
                    <input class="glyph" type="submit" value="&#xf002;">
                    <input checked="checked" id="summonAll" name="s.cmd" type="radio" value="">
                  </div>
                </form>
                <form data-active="inactive" id="search-catalog" action="http://webpac.library.unlv.edu/search/X" method="get">
                  <div class="search-input-wrapper">
                    <input type="text" class="clearMeFocus" name="search" placeholder="Library Catalog" value="">
                    <input class="glyph" type="submit" value="&#xf002;">
                  </div>
                </form>
                <form data-active="inactive" id="search-speccoldatabase" action="/speccol/databases/index.php" method="get">
                  <div class="search-input-wrapper">
                    <input type="text" class="clearMeFocus" name="search" placeholder="Special Collections Database" value="">
                    <input class="glyph" type="submit" value="&#xf002;">
                  </div>
                </form>
                <form data-active="inactive" id="search-manuscript" action="">
                  <div class="search-input-wrapper">
                    <input type="text" class="clearMeFocus" name="search" placeholder="Manuscript Finding Aids" value="">
                    <input class="glyph" type="submit" value="&#xf002;">
                  </div>
                </form>
                <form data-active="inactive" id="search-digital" action="http://d.library.unlv.edu/cdm/search/" method="get">
                  <div class="search-input-wrapper">
                    <input type="text" class="clearMeFocus" name="search" placeholder="Digital Collections" value="">
                    <input class="glyph" type="submit" value="&#xf002;">
                  </div>
                </form>
                <ul>
                  <li>
                    <input id="r1" type="radio" name="search-type" value="search-summon" checked><label for="r1" title="Search the Libraries' books, articles, and more"><span class="fa-radio"></span><span class="glyph">&#xf0e7;</span> Quick Search</label>
                  </li>
                  <li>
                    <input id="r2" type="radio" name="search-type" value="search-catalog"><label for="r2" title="Search for Special Collections' books, periodicals, maps, and manuscripts"><span class="fa-radio"></span><span class="glyph">&#xf02d;</span> Library Catalog</label>
                  </li>
                  <li>
                    <input id="r3" type="radio" name="search-type" value="search-speccoldatabase"><label for="r3" title="Search for photographs, oral histories, manuscripts, and University Archives"><span class="fa-radio"></span><span class="glyph">&#xf0ce;</span> Special Collections Database</label>
                  </li>
                  <li>
                    <input id="r4" type="radio" name="search-type" value="search-manuscript"><label for="r4" title="Search detailed descriptions of select manuscript collections"><span class="fa-radio"></span><span class="glyph">&#xf002;</span> Manuscript Finding Aids</label>
                  </li>
                  <li>
                    <input id="r5" type="radio" name="search-type" value="search-digital"><label for="r5" title="Search for digital photographs and other digitized materials"><span class="fa-radio"></span><span class="glyph">&#xf108;</span> Digital Collections</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <!--#include virtual="footer.shtml" --> 