#header {
    background: transparent url(../img/header-asl.jpg) 50% -320px no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.context-arch #zone-content-wrapper,
body.context-arch2 #zone-content-wrapper,
#zone-content .col:nth-child(2) {
  margin-left: 0;
}

section#section-content {
  display: inline-block;
  width: 100%;
}

div.multisearch-wrapper {
    margin-top: 1.5em;
}

div.multisearch-wrapper div.search-step:first-child {
    padding-bottom: 0;
    z-index: 99;
    position: relative;
    bottom: -1px;

}

div.hidden {
    display: none;
}

div.radio .ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin: 0 .5em .5em 0;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    background: transparent;
    border: 1px dashed #555;
    border-radius: 3px;
}

#radio-search-select .ui-button {
    background: #f9f9f9;
    margin: 0 .5% 0 0;
    width: 19.5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
}


@media screen and (min-width: 0) and (max-width: 739px) {
    #radio-search-select.cleared .ui-button {
        width: 32.5%;
        margin: 0 .5% 0 0;
    }

    #radio-search-select.cleared .ui-button.clear1 {
        margin-right: 4%;
    }
}

#radio-search-select .ui-button:last-child {
    margin-right: 0;
}

.search-body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: .75em;
    background: #ecf0f1;
    position: relative;
    border: 1px solid #ddd;
}

div.radio .ui-button.ui-state-active {
    background: #fff;
    background: #8DB8CD;
    border: 1px solid transparent;
}

#radio-search-select .ui-button.ui-state-active {
    background: #ecf0f1;
    border-bottom-color: #ecf0f1;
    color: #333;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-button-text-only .ui-button-text {
    padding: .4em 1em;
}

#radio-search-select .ui-button-text {
padding: .5em .75em;
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

div.search-step {
    /*border-top: 1px dashed #777;*/
    padding-bottom: 1.5em;
}

div.search-step-number {
    text-align: center;
    position: relative;
    top: -1em;
}

div.search-step-number span.step {
    font: 1.17em georgia;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    color: #fff;
    background: #333;
    border: 1px solid #333;
    padding: .2em .8em;
}

div.search-step-number span.arrow-active {
    visibility: visible;
}

div.search-type {
    display: none;
    position: relative;
}

div.search-type.active {
    display: block;
}



#search-database-letter {
    text-transform: uppercase;
}
.search-wrapper {
    background: #f2f2f2;
    padding: 1.5em;
    margin: 0 0 1.5em 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search {
    position: relative;
    /*box-shadow: 0 0 7px #888;
    -webkit-box-shadow: 0 0 7px #888;*/
}
.search-dd {
    z-index: 999;
    position: absolute;
    margin: 2px 0 0 2px;
}
.search-field {
    width: 100%;
    height: 42px;
    padding-left: .5em;
    border-radius: 0;
}
.search-button {
    z-index: 9999;
    position: absolute;
    right: 0;
    margin: 2px 2px 0 0;
}

table.popular-databases tbody > tr td {
    width: 25%;
}

table.popular-databases tbody > tr:first-child td {
}

table.popular-databases tbody > tr:first-child td > div {
    border: 1px dashed #777;
}

table.popular-databases tbody > tr td img {
    max-width: 100%;
}

a.logo {
    width: 540px;
}
#home ul li {
  list-style-image: none;
}


div.search-tool-wrapper {
    margin: 35px auto 0;
    position: relative;
    width: 500px;
}
body.not-front div.search-tool-wrapper {
  display: inline-block;
  float: right;
  margin: 0;
  width: 470px;
}

form.sb_wrapper {
    display: inline-block;
    padding:0;
    width: 462px;
    position: relative;
    float: left;
}
body.not-front form.sb_wrapper {
  width: 440px;
}

form.sb_wrapper p {
    margin: 0;
}
form.sb_wrapper p,
form.sb_wrapper p .sb_input {
    width: 100%;
}

p.more-research {
    margin-bottom: .25em;
}
div.search-help {
    margin: 21px 0 0 .5em;
    position: relative;
    float: left;
}
div.search-help a {
    font-size: 1.5em;
    color: #3498db; 
    color: #2980b9;
    /*color: #95a5a6;*/
}
div.search-help a:hover + #tooltip {
    display: block;
}
div.search-help #tooltip { 
    display: none;
    position: absolute;
    top: -208px;
    left: -336px;
    color: #fff;
    z-index: 100;
}
body.responsive-layout-narrow div.search-help #tooltip { 
  left: -456px;
}
body.not-front div.search-help #tooltip {
  top: 24px;
  left: -575px;
}

div.search-help #tooltip div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(55,55,55,.95);
    width: 600px;
    display: block;
    padding: 1em;
}
body.front div.search-help #tooltip:after  {
    content: "";
    background: none;
    display: block;
    margin-left: 332px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(55,55,55,.95);
}
body.front.responsive-layout-narrow div.search-help #tooltip:after  {
  margin-left: 452px;
}
body.not-front div.search-help #tooltip:before  {
  content: "";
  background: none;
  display: block;
  margin-left: 571px;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(55,55,55,.95);
}

div.search-help #tooltip div p:last-child {
    margin-bottom: 0;
}




div.select2-container,
div.select2-container .select2-choice {
    border-radius: 0;
    /*border-radius: 0;*/
    box-shadow: none;
}
div.select2-container .select2-choice {
    min-width: 160px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: none;
    background: #95a5a6;
    border: 1px solid #6C7778;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e3e7e8); 
    background-image:    -moz-linear-gradient(top, #fff, #e3e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e3e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e3e7e8);
}
div.select2-container:hover .select2-choice {
    border: 1px solid #869293;
}
div.select2-container .select2-choice span.select2-arrow {
    width: 26px;
    border-radius: 0;
    background: #7f8c8d;
    border-left: 1px solid #6C7778;
    color:#777;
    background-color: #bdc3c7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f1), to(#bdc3c7));
    background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7); 
    background-image:    -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:     -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:      -o-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-color: #95a5a6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc3c7), to(#95a5a6));
    background-image: -webkit-linear-gradient(top, #bdc3c7, #95a5a6); 
    background-image:    -moz-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:     -ms-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:      -o-linear-gradient(top, #bdc3c7, #95a5a6);
}
div.select2-container:hover .select2-choice span.select2-arrow {
    border-color: #98a7a8;
    background: #95a5a6;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
div.select2-container .select2-choice span.select2-arrow b {
    background: transparent url(../../../../images/arrow-down.png) no-repeat center center;
}
div.search-tool-wrapper-norm div.select2-container .select2-choice {
    width: 210px;
}
div.select2-container .select2-choice > .select2-chosen {
    margin-right: 40px;
    line-height: 28px;
    color: #c0392b;
    color: #fff;
    font-size: 1.1em;
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
}
div.select2-drop-active {
    border: 1px solid #6c7778;
    background: #fff;
    color: #444;
}
div.select2-drop-active .select2-results {
    max-height: 260px;
    margin: 0;
    padding: 0;
}
div.select2-drop-active .select2-highlighted {
    background: #ecf0f1;
    color: #444;
}
div.select2-search {
    padding: 4px;
}




div.search-tool-wrapper-norm {
    width: 582px;
}
form.sb_wrapper-norm {
    width: 558px;
} 
form.sb_wrapper-norm input[type="text"] {
    width: 342px;
    padding-left: 8px;
}
form.sb_wrapper .sb_input.normal {
    float: left;
}
div.search-tool-wrapper .select2-container {
    float: left;
    top: 0;
    left: 0;
    margin-right: .5em;
}
div.search-tool-wrapper .select2-container {  
}
div.search-tool-wrapper .select2-container .select2-choice span.select2-arrow {
    width: 40px;
}
div.search-tool-wrapper .select2-container .select2-choice {
    height: 40px;
}
div.search-tool-wrapper div.select2-container .select2-choice > .select2-chosen {
    margin-right: 48px;
    line-height: 36px; 
}




.sb_wrapper input[type="text"] {
    height: 40px;
    font-size: 1em;
    background: #fefefe;

}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
   /* border:1px solid #fff;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    -box-shadow:1px 1px 3px #555;*/
    outline:none;
    padding:6px 5px 6px 20px;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.sb_dropdown{
    background: #ecf0f1;
    background: #F9f9f9;
    position: absolute;
    top: 40px;
    list-style:none;
    padding: 5px;
    width: 100%;
    z-index: 99;
    border: 1px solid #666;
    border-top-width: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.sb_dropdown > li {
    display: block;
    margin: .25em 0 0 .5em;
}
ul.sb_dropdown > li span.search-type {
    font-weight: bold;
    float: left;
    width: 32%;
    text-align: right;
}
ul.sb_dropdown > li ul {
    float: left;
    padding: 0;
    margin: 0 0 .5em;
}
ul.sb_dropdown > li ul li {
    list-style-type: none;
    float: left;
    margin-left: 2em;
}
ul.sb_dropdown > li ul li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* padding: .25em .5em; */
    color: #333;
    position: relative;
    text-decoration: none;
}
ul.sb_dropdown > li ul li a:before {
    content: "\00a0";
    margin-right: .25em;
    color: #B10202;
    width: 1em;
    font-weight: bold;
    position: absolute;
    left: -.75em;
}
ul.sb_dropdown > li ul li a:hover,
ul.sb_dropdown > li ul li a.active {
    color: #B10202;
    border-radius: 3px;
}
ul.sb_dropdown > li ul li a.active:before {
    content: "\2713";
}
span.sb_up,
span.sb_down{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 36px;
    background-color: #f2f2f2;
    background: #8DB8CD;
    background: #B10202;
    background: #c0392b;
    background: #95a5a6;
    z-index: 10;
    -moz-box-shadow: 1px 0px 1px #ddd;
    -webkit-box-shadow: 1px 0px 1px #ddd;
    -box-shadow: 1px 0px 1px #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
span.sb_up{
    background-image:url(../../img/up.png);
}
span.sb_down{
    background-image:url(../../img/down.png);
}
input.sb_search[type="submit"]{
    font-family: 'FontAwesome';
    font-size: 2em;
    position: absolute;
    top: 2px;
    right: 2px;
    height:36px;
    width:46px;
    padding: 0;
}





div.ddm {
    float: left;
    margin-right: .5em;
    }
div.ddm div.selectbox {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 210px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #6C7778;
    background-color: #e3e7e8;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e3e7e8); 
    background-image:    -moz-linear-gradient(top, #fff, #e3e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e3e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e3e7e8);
    }
div.ddm div.selectbox.focus,
div.ddm div.selectbox.focus span.arrow,
div.ddm div.selectbox.focus + ul.drop {
    border-color: #777;
    /*-moz-box-shadow: 0 0 4px #DDDDDD;
    -webkit-box-shadow: 0 0 4px #DDD;
    box-shadow: 0 0 2px #2980b9;*/
}
div.ddm div.selectbox span.chosen {
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
    line-height: 38px;
    height: 40px;
    margin-left: 8px;
    font-size: 1.1em;
    }
div.ddm div.selectbox span.arrow {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 38px;
    border-left: 1px solid #6C7778;
    color:#666;
    font-size: 1.5em;
    line-height: 38px;
    text-align: center;
    background-color: #bdc3c7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f1), to(#bdc3c7));
    background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7); 
    background-image:    -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:     -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:      -o-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-color: #95a5a6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc3c7), to(#95a5a6));
    background-image: -webkit-linear-gradient(top, #bdc3c7, #95a5a6); 
    background-image:    -moz-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:     -ms-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:      -o-linear-gradient(top, #bdc3c7, #95a5a6);
    }
div.ddm div.selectbox:hover {
    }
div.ddm div.selectbox:hover span.arrow {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #95a5a6;
    }
div.ddm ul.drop {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 210px;
    top: 39px;
    position: absolute;
    padding: 0;
    list-style-type: none;
    background: #fff;
    border: 1px solid #95a5a6;
    z-index: 99;
    }
div.ddm ul.drop li {
    list-style-type: none;
    }
div.ddm ul.drop li ul li a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    cursor: pointer;
    }
div.ddm ul.drop li ul li a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background: #ecf0f1;
    color: #444;
    }
div.ddm ul.drop > li ul {
    margin-bottom: 0;
    padding: 0;
    }
