/* =======================================
    1. GLOBAL
    ......................................  */
html,
button,
input,
select,
textarea {
    color: #363636;
}
html, body {
    font: 14px verdana, sans-serif;
    width: 100%;
    overflow-x: hidden; /* Thanks, IE! */
}
html {
    font: 1em/1.5 verdana, sans-serif;
}
html, section {
    background: #fefefe;
}
@media screen and (min-width: 0px) and (max-width: 739px) {
    body {
        background: rgb(240,240,240);
    }
    body > section,
    footer {
        padding: 0 2%;
        margin: 0 2% .5em;
        -webkit-box-shadow: 0 0 4px 0 #ccc;
        box-shadow: 0 0 4px 0 #ccc;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}
.mobilecheck {
    position: relative;
}
div.col {
  padding-bottom: 1em;
}

/* =======================================
    1.x Drupal Edit Tabs
    ......................................  */
div.tabs ul.tabs.primary {
    background: transparent;
    margin: 0 0 1.5em;
    border: 0;
    padding: 0;
}
div.tabs ul.tabs.primary li { /* responsive Drupal in-page admin tabs */
    float: left;
    margin: 0 .5em 1.5em 0;
    padding-bottom: .5em;
}
div.tabs ul.tabs.primary li a { /* responsive Drupal in-page admin tabs */
    margin: 0;
    padding: .5em .75em;
    background: #3498db;
    color: #fff;
    border: 1px solid #2980b9;
    border-radius: .5em;
    -webkit-box-shadow: 
    0 6px 0 #2980b9,
    0 10px 8px rgba(0,0,0,.3);
    -moz-box-shadow: 
    0 6px 0 #2980b9,
    0 10px 8px rgba(0,0,0,.3);
    box-shadow: 
    0 6px 0 #2980b9,
    0 10px 8px rgba(0,0,0,.3);
    position: relative;
}
div.tabs ul.tabs.primary li a:hover {
    background: #2980b9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    top: 6px;
    bottom: -6px;
}
div.tabs ul.tabs.primary li a.active {
    background: #2980b9;
   -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    top: 6px;
    bottom: -6px;
}

/* =======================================
    1.x Typography
    ......................................  */
@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.glyph {
    font: 1em 'FontAwesome';
    text-transform: none;  
    display: inline-block;
    text-align: center;
}
span.glyph {
    width: 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1, h3 {
    font-family: georgia,'times new roman',serif;
}
h2, h4, h5, h6 {
    text-transform: uppercase;  
    margin-bottom: .67em;
}
h1 {
    font-style: italic;
    margin-top: 0;
}
h2 {
    font-size: 1.25em;
    text-transform: none;
    letter-spacing: -1px;
}
h3 {
    font-style: italic;
}
h4 {
    color: #555;
}
div.page-title {
    margin-bottom: 1.5em;
}
div.page-title h1,
div.page-title h2 {
    margin: 0;
}
p, ol, ul, blockquote, pre, code {
    /*margin: 0;*/
}
blockquote {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    background: #f2f2f2;
    text-align: left;
    margin: 0 0 1.5em;
    padding: 1.5em 1.5em 1.5em 6em;
    min-height: 6em;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote p:first-child:before {
    font: 3em 'FontAwesome';
    content: "\f10d";
    position: absolute;
    left: .5em;
    top: .5em;
}
blockquote.important p:first-child:before {
    content: "\f071";
}

/* =======================================
    1.x Figures, Captions
    ......................................  */
figure {
    float: right;
    width: 32%;
    margin: 0 0 .75em 2%;
}
figure img {
    width: 100%;
    float: right;
}
figcaption {
    clear: both;
    font-size: .75em;
    background: rgb(242,242,242);
    color: rgb(100,100,100);
    padding: .5em;
    height: auto;
    overflow: visible;
}
figure.wide,
aside.sidebar figure {
    width: 100%;
    margin: 0 auto 1.5em;
}
@media screen and (min-width: 0px) and (max-width: 739px) {
    figure {
        width:100%;
        margin: 0 0 1.5em;
    }
}
#zone-content img.image-blog_insert { /* Drupal...replace with figure and figcaption */
    float: right;
    margin: 0 0 1.5em 3.114%;
    width: 36.590% !important;
    height: auto !important;
}
#zone-content img.image-blog_insert.big { /* Drupal...replace with figure and figcaption */
    width: 100% !important;
    height: auto !important;
}
@media screen and (min-width: 0) and (max-width: 959px) {
    #zone-content img.image-blog_insert {
        width: 100% !important;
        height: auto !important;
    }
}

/* =======================================
    1.x Images, Links, Lists
    ......................................  */
section.content img {
    border-width: 0;
    border-style: none;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: auto !important;
}
footer div#map img {
  max-width: 353px;
}
a {
    color: #B10202;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover {
    text-decoration: underline;
    color: #333;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
section ul {
    padding: 0 1em;
    list-style: none;
}
section .main .content ul {
  list-style: disc;
  margin-left: 1em;
}
section .main .content .node-links ul {
  list-style: none;
}
ul.no-bullet {
    list-style-type: none;
    padding: 0;
}

/* =======================================
    1.x Inputs
    ......................................  */
input {
    outline: 0;
    margin: 0;
    height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
input[type="text"] {
    width: 100%;
    outline: 0;
    border: 1px solid #999;
    box-shadow: none;
    border-collapse: separate;
    font: 1em verdana, sans-serif;
    padding: .125em .5em; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
    background-image: -webkit-linear-gradient(top, #eee, #fff);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}
input[type="text"]:hover {
    border:1px solid #888;
}
input[type="text"]:focus {
    box-shadow:0 0 2px #888;
}
input[type="submit"] {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: #c0392b;
    display: inline-block;
    padding: .25em .75em;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow:  0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #e74c3c;
}

/* =======================================
    1.x Search Text Input and Submit
    ......................................  */
div.search-input-wrapper {
    position: relative;
    display: block;
    width: 100%;
    max-width: 340px;
    clear: both;
}
div.search-input-wrapper input[type="text"] {
    padding: .125em 3.625em .125em .5em;
    height: 36px;
}
div.search-input-wrapper input[type="submit"] {
    position: absolute;
    top: 2px;
    right: 2px;
}
/* Special Collections blog search */
aside.span_8.sidebar .views-exposed-form .views-exposed-widget {
  padding: 1.5em .5em 0 0;
  max-width: 60%;
}
aside.span_8.sidebar .views-exposed-form .views-exposed-widget .form-item-search .description {
  font-size: .85em;
  margin-top: .25em;
}
aside.span_8.sidebar .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

/* =======================================
    1.x Select2 Dropdowns
    ......................................  */
div.select2-container,
div.select2-container .select2-choice {
    border-radius: 0;
    box-shadow: none;
}
div.select2-container .select2-choice {
    min-width: 160px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: none;
    background: rgb(246,246,246);
    border: 1px solid #6C7778;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(rgb(246,246,246)));
    background-image: -webkit-linear-gradient(top, #fff, rgb(246,246,246));
}
div.select2-container:hover .select2-choice {
    border: 1px solid #869293;
}
div.select2-container .select2-choice span.select2-arrow {
    width: 26px;
    border-radius: 0;
    border-left: 1px solid #6C7778;
    color:#777;
    background: rgb(220,220,220);
}
div.select2-container:hover .select2-choice span.select2-arrow {
    background: rgb(200,200,200);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
div.select2-container .select2-choice span.select2-arrow b {
    background: transparent url(../../../../images/arrow-down.png) no-repeat center center;
}
div.search-tool-wrapper-norm div.select2-container .select2-choice {
    width: 210px;
}
div.select2-container .select2-choice > .select2-chosen {
    margin-right: 40px;
    line-height: 28px;
    font-size: .83em;
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
}
div.select2-drop-active {
    font-size: .83em;
    border: 1px solid #6c7778;
    background: #fff;
    color: #444;
}
div.select2-drop-active .select2-results {
    max-height: 260px;
    margin: 0;
    padding: 0;
}
div.select2-drop-active .select2-highlighted {
    background: rgb(230,230,230);
    color: #444;
}
div.select2-search {
    padding: 4px;
}

/* =======================================
    1.x Misc.
    ......................................  */
.stilts {
    margin-bottom: 1.5em;
}
.haircut {
    margin-top: 0;
}
.barefoot {
    margin-bottom: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* =======================================
    2. HEADER
    ......................................  */

/* =======================================
    2.x UNLV Header
    ......................................  */
#global-header-bar {
    background: #dedede url(../../img/header-bkgrd.png) repeat-x top left;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dedede));
    background-image: -webkit-linear-gradient(top, #fefefe, #dedede);
    /* height: 22px; */
    padding: 1px 0;
    border-bottom: solid 1px #999;
    position: relative;
    top: 0;
    z-index: 19;
    width: 100%;
    /* float: left; */
}
#global-header-bar .unlv-logo a img {
    height: 22px;
    padding: 2px 0;
    display: block;
}
#global-header-bar ul { /* links in the unlv header */
    float: right;
    font-size: 10px;
}
#global-header-bar ul li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}
#global-header-bar ul a {
    color: #444;
    display: inline-block;
    padding: 5px;
    color: #333;
}
#global-header-bar ul a:after {
    font: 1em 'FontAwesome';
    content: " \f101";      /* fa-angle-double-right */
}


#global-header-bar .col {
    padding-bottom: 0;
}

#global-header-bar .unlv-links ul {
    line-height: 1;
    margin: 0;
}

#global-header-bar .unlv-logo {
    padding-top: 2px;
}

/* =======================================
    2.x Header, Logo
    ......................................  */
a.logo {
    margin: 0;
    float: left;
    background: rgb(255,255,255);
    background: rgba(255,255,255,.92);
    padding: 1em;
    height: 60px;
}
#logo {
    height: 100%;
    width: auto;
}
@media screen and (min-width: 0) and (max-width: 739px) {
    header {
        min-height: 0;
    }
    #global-header-bar .unlv-links {
        display: none;
    }
    section.header {
        padding: 0 0;
        margin: 0 0 .5em;
    }
    a.logo {
        background: rgb(255,255,255);
        width: 100% !important;
        float: none;
        margin: 0 auto;
        display: inline-block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        max-width: 100%;
        height: auto;
    }
    img#logo {
        width: 100%;
        height: auto;
    }
}

ul.sb_dropdown > li ul li {
  list-style-type: none;
  float: left;
  margin-left: 1em;
  width: 280px;
}

/* =======================================
    2.x Main Navigation
    ......................................  */
nav.main-nav {
    background: #e7e7e7;
    background: rgb(242,241,242);
    position: relative;
    z-index: 9;
    margin: 0;
    display: block;
    -webkit-box-shadow: 0 2px 5px 0 rgb(186,186,186);
    box-shadow:         0 2px 5px 0 rgb(186,186,186);
}
nav.main-nav .col {
  padding-bottom: 0;
}
nav.main-nav div.mobile-menu {
    display: none;
    padding: 0 2%;
    margin: 0 0 .5em;
}
nav.main-nav div.mobile-menu button {
    width: 100%;
    background: rgb(80,80,80);
    border: 0;
    color: #fff;
    font-size: .9em;
    text-transform: uppercase;
    display: block;
    padding: .75em 1.5em;
}
nav.main-nav ul#main-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
}
nav.main-nav ul#main-menu li,
nav.main-nav ul#main-menu li {
    padding: 0;
    display: inline-block;
}
nav.main-nav ul#main-menu li.first {
    margin-left: 0;
}
nav.main-nav ul#main-menu li:hover a,
nav.main-nav ul#main-menu li.active a {
    background: rgb(80,80,80);
    color: #fff;
}
nav.main-nav ul#main-menu li a {
    font-size: .9em;
    text-transform: uppercase;
    display: block;
    padding: .75em 1.5em;
    color: #B10202;
}
nav.main-nav ul#main-menu li a:hover {
    text-decoration: none;
}
nav.main-nav ul#main-menu li {
  position: relative;
}
nav.main-nav ul#main-menu li span.pointer {
    position: absolute;
    left: 50%;
}
nav.main-nav ul#main-menu li span.pointer span {
    visibility: hidden;
    content: "";
    position: relative;
    left: -50%;
    display: block;
    text-align: center;
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid rgb(80,80,80);
}
nav.main-nav ul#main-menu li.active span.pointer span {
    visibility: visible;
}
nav.main-nav ul#main-menu li.currentpage a ~ span.arrow-active {
    visibility: visible;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
@media screen and (min-width: 0) and (max-width: 739px) {
    section.header, nav {
        background: rgb(220,220,220);
    }
    div.header {
        min-height: 0;
    }
    nav.main-nav div.mobile-menu {
        display: block;
    }
    nav.main-nav ul#main-menu {
        display: none;
        position: relative;
        bottom: auto;
    }
    nav.main-nav ul#main-menu li,
    nav.main-nav ul#main-menu li.first {
        width: 100%;
        display: block;
        text-align: center;
    }
    nav.main-nav ul#main-menu li span.pointer {
        display: none;
    }
    nav.main-nav ul#main-menu li a {
        margin: 0 2% .5em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: rgb(255,255,255);
        background: rgba(255,255,255,.9);
    }
}

/* =======================================
    3. CONTENT
    ......................................  */
div.breadcrumb { /* Drupal Markup */
    margin: 1.5em 0 .5em;
}
section.content div.col.span_24,
section.content span.print-link {
  padding: 0;
}

/* FAQ section */
.view-id-special_collections_faq h2 {
  cursor: pointer;
  font-size: 200%;
}
.view-id-special_collections_faq h3 {
  font-size: 150%;
}
li.views-row.group-speccol-faq {
  display: none;
}
.view-id-special_collections_faq .views-field.views-field-edit-node {
  float: right;
}

/* =======================================
    3.x Sidebar
    ......................................  */
div.sidebar,
aside.sidebar {
    border-left: 1px solid #ddd;
}
div.sidebar-left,
aside.region-sidebar-first {
    border-left: 0;
    border-right: 1px solid #ddd;
}
div.sidebar div.region-sidebar-second > div.block-block,
aside.sidebar div.block-block {
    border-top: 1px solid #ddd;
    padding: 0 2%;
}
div.sidebar ul.menu li, /* .menu is included for Drupal */
div.sidebar ul li {
    list-style-image: none;
    margin-left: 0;
}
div.sidebar ul,
div.sidebar ul li {
    padding: 0;
    list-style-type: none;
}
div.sidebar div.region-sidebar-second > div.block-block:first-child,
aside.sidebar div.block-block:first-child {
    border-top: 0;
}
div.sidebar div.region-sidebar-second > div.block-block:first-child h4:first-child,
aside.sidebar div.region-sidebar-second > div.block-block:first-child h4:first-child {
    margin-top: 0;
}
#region-sidebar-second > div.block {
    border-top: 1px solid #ddd;
    padding-top: .83em;
}
#region-sidebar-second > div.block:first-child {
    border-top: 0;
    padding: 0;
}
@media screen and (min-width: 0) and (max-width: 739px) {
    #region-sidebar-second > div.block:first-child {
        border-top: 1px solid #ddd;
        padding-top: .83em;
    }
}
@media screen and (min-width: 0) and (max-width: 739px) {
    div.sidebar,
    aside.sidebar {
        border-left: 0;
    }
    div.sidebar div.region-sidebar-second > div.block-block:first-child,
    aside.sidebar div.region-sidebar-second > div.block-block:first-child {
        border-top: 1px solid #ddd;
    }
    div.sidebar div.region-sidebar-second > div.block-block:first-child h4:first-child,
    aside.sidebar div.region-sidebar-second > div.block-block:first-child h4:first-child {
        margin-top: 1.33em;
    }
}

/* =======================================
    4. FOOTER
    ......................................  */
footer {
    background: #e5e5e5;
    color: #fff;
    background: rgb(80,80,80);
}
footer a,
footer .copyright a {
    color: #f9f9f9;
}
footer a:hover {
    color: #fff;
}
footer .hours {
  clear: both;
}

/* =======================================
    4.1 Locations
    ......................................  */
.lib-branch {
}
.lib-branch.active {
    display: block;
}
div.map { /* map */
    display: inline-block;
    width: 100%;
    margin: 0;
    height: 10.15em;
    background-size: cover 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.map-lied {
    background: transparent url(../_images/map-lied.png) center center no-repeat;
}
.map-arch {
    background: transparent url(../_images/map-arch.png) center center no-repeat;
}
.map-curr {
    background: transparent url(../_images/map-curr.png) center center no-repeat;
}
.map-music {
    background: transparent url(../_images/map-music.png) center center no-repeat;
}
.map-law {
    background: transparent url(../_images/map-law.png) center center no-repeat;
}
@media screen and (min-width: 0) and (max-width: 979px) {
    div.map {
        height: 15em;
    }
}

/* =======================================
    4.2 Contact
    ......................................  */
.footer-block {
    display: block;
    margin-bottom: 1.5em;
}
.footer-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-block ul li .footer-text {
    border-top: 1px dashed #bebebe;
    display: block;
}

.footer-block ul li a {
    border-top: 1px dashed #bebebe;
}
.footer-block ul li:last-child a {
    border-bottom: 1px dashed #bebebe;
}
.footer-block ul li a {
    display: block;
}
.footer-block ul li a:hover {
    background: #d8d8d8;
    background: rgb(120,120,120);
    text-decoration: none;
}
.footer-block ul li a:hover span.facebook {
    color: #3b5999;
    color: #3f9edd;
}
.footer-block ul li a:hover span.twitter {
    color: #00aced;
}
.footer-block ul li a:hover span.youtube {
    color: #cb322c;
}
.footer-block a.last {
    margin-right: 0;
}

/* =======================================
    4.3 Copyright
    ......................................  */
.copyright {
    position: relative;
    display: inline-block;
}
a.user { /* user login link */
    float: right;
}
@media screen and (min-width: 0) and (max-width: 739px) {
    footer h3.placeholder {
        display: none;
    }
}

/* =======================================
    1.x Typography
    ......................................  */
body.front section.content div.col h4:first-child { /* front page cotent group title styling */ /* adjust for Drupal markup */
    border-top: 1px solid #ddd;
    margin-top: 0;
    padding-top: 1em;
}

/* =======================================
    1.x
    ......................................  */
@media screen and (min-width: 740px) and (max-width: 980px) { /* tablet mobile styling */ /* adjust for Drupal markup */
    div.col.span_6 {
        width: 49%;
    }
    div.col.span_6:nth-child(2n+1) {
        margin-left: 0;
        clear:left;
    }
    div.col.span_12 {
        width: 100%;
        margin-left: 0;
    }
    div.col.span_12 + div.col.span_6 {
        margin-left: 0;
    }
    div.col.span_12 + div.col.span_6 + div.col.span_6 {
        margin-left: 2%;
        clear: none;
    }


    div.col.span_18.col-search {
        width: 100%;
    }
    div.col.span_6.unlv-logo {
        width: 23.5%;
    }
}

/* =======================================
    1.x Custom Radios and Checkboxes (and pager, sorry John :-P)
    ......................................  */
section.content.home ul li:before,
aside.col.span_8.sidebar ul li:before {
    content: "";
    border-color: transparent #444;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -.85em;
    top: 1em;
    position: relative;
}
section.content.home ul li ul li:before,
aside.col.span_8.sidebar ul li ul li:before {
  content: none;
}
section.content.home ul li ul li,
aside.col.span_8.sidebar ul li ul li {
  list-style-type: disc;
}
ul.pager {
  margin-top: 1.5em;
  padding-left: 0;
}
aside.col.span_8.sidebar ul.pager li:before,
ul.pager li:before {
  border-style: none;
}
ul.pager li {
  display: inline-block;
}
ul.pager li.pager-previous {
  margin-right: .5em;
}
ul.pager li.pager-next {
  margin-left: .5em;
}
.ajax-progress.ajax-progress-throbber {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(/misc/throbber.gif) no-repeat 0px -18px;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    font-weight: normal;
}
input[type="radio"] + label span.label {
  font-weight: bold;
}
input[type="radio"] + label span.fa-radio {
    display:inline-block;
    width:1em;
    height:1em;
    margin: 0 .5em 0 0;
    vertical-align:top;
    cursor:pointer;
    font-size: 1.2em;
    line-height: normal;
}
input[type="radio"] + label span.fa-radio:before {
    content: "\f10c";
    font-family: 'FontAwesome';
    position: absolute;
    top:0;
    color: #3498db;
}
input[type="radio"]:checked + label {
    /*font-weight: bold;*/
    color: #3498db;
}
input[type="radio"]:checked + label span.fa-radio:before {
    content: "\f192";
    font-family: 'FontAwesome';
    position: absolute;
    top:0;
    font-weight: normal;
}
input[type="checkbox"] {
    display:none;
}
/* more speciffic selector for form at /speccol/databases */
.classFieldset input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em 0 1.5em;
}

input[type="checkbox"] + label {
    position: relative;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:1em;
    height:1em;
    margin: 0 .25em 0 0;
    vertical-align:top;
    cursor:pointer;
    font-size: 1.2em;
    line-height: normal;
}
input[type="checkbox"] + label span:before {
    content: "\f096";
    font-family: 'FontAwesome';
    position: absolute;
    top:0;
    color: #c0392b;
}
input[type="checkbox"]:checked + label span {
}
input[type="checkbox"]:checked + label span:before {
    content: "\f046";
    font-family: 'FontAwesome';
    position: absolute;
    top:0;
}
div#sc-search ul li {
  margin-bottom: 0.5em;
}
div.sub-description {
  margin-left: 1.5em;
}
div.chopping-block {
  display: none;
}

/* =======================================
    1.x Misc.
    ......................................  */
.rss {
    color:orange;
}

/* =======================================
    2.x Header, Logo
    ......................................  */
section.header {  
/*     padding-top: 25px; */

/* background: url(../img/sc10.jpg) no-repeat left top;
    -webkit-background-size: cover;
    width: 100%;
    background-size: cover;
    position: relative; */
}
section.header .col {
  padding-bottom: .25em;
}

div.search-tool-wrapper {
  margin: 0;
}

/* =======================================
    3.x Slideshow
    ......................................  */
.fader {
    position: relative;
    padding-top: 64.457%;
    overflow: hidden;
    margin-bottom: 1.5em;
}
.fader figure.slide {
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    padding: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.fader figure.slide img {
    height: auto;
}
.fader figure.slide figcaption {
  background: none;

    padding-right: 100px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fader .fader-controls {
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 5;
}
.fader .fader-controls button {
    border: 0;
    font-weight: normal;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    padding: 0;
    background: none;
    color: #B10202;
    height: 42px;
    width: 42px;
    float: left;
    text-align: center;
    z-index: 4;
    cursor: pointer;
    transition: all 150ms;
}
.fader .fader-controls button:focus,
.fader .fader-controls button:active {
    font-weight: normal;
    outline: 0;
}
.fader .fader-controls button:hover {
    background: rgb(220, 220, 220);
}
.fader .fader-controls button.read-more {
    font-size: .75em;
    text-transform: uppercase;
}
.fader .pager_list {
    display: none;
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    bottom: 0;
    text-align: center;
    z-index: 4;
}
.fader .pager_list li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    background: #fff;
    opacity: .7;
    text-indent: -999px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 150ms;
}
.fader .pager_list li:hover,
.fader .pager_list li.active {
    opacity: 1;
}

/* =======================================
    3.x Special Collections Search Tool
    ......................................  */
#sc-search {
    background: rgb(242,242,242);
    padding: 1em;
}
#sc-search form[data-active="inactive"] {
    display: none;
}
#sc-search form[data-active="active"] {
    display: block;
}
#sc-search input[type="text"]::-webkit-input-placeholder {
    line-height: 1.5;
    font-size: .75em;
}
#sc-search input[type="text"]::-moz-placeholder {
    line-height: 1.5;
    font-size: .75em;
}
#sc-search input[type="text"]:-ms-input-placeholder {
    line-height: 1.5;
    font-size: .75em;
}
#sc-search ul li:before {
    border-color: transparent;
}
#sc-search > ul {
    margin: 0 0 0;
}

/* =======================================
    3.x Prefooter
    ......................................  */
section.prefooter {
    background: #f5f5f5;
    background: rgb(240,240,240);
}

/* =======================================
    3.x Image Carousel
    ......................................  */
div.img-carousel {
    position: relative;
    padding: 3em 0;
    display: block;
}
div.img-carousel div.images {
    padding-left: 4em;
    margin-left: 0;
    white-space: nowrap;
}
div.img-carousel div.images a {
    display: inline-block;
    white-space: normal;
    line-height: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div.img-carousel div.images a img {
    height: 267px; /* adjust as needed */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: matrix(.95, 0, 0, .95, 0, 0);
    -ms-transform: matrix(.95, 0, 0, .95, 0, 0);
    transform: matrix(.95, 0, 0, .95, 0, 0);
}
div.img-carousel div.images a:hover img {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
div.img-carousel span.paddle {
    padding: 0 .25em;
    cursor: pointer;
    text-align: center;
    color: rgb(102,102,102);
    font-size: 2em;
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    background: rgb(140,140,140);
    background: rgba(140,140,140,.5);
}
div.img-carousel span.paddle:hover {
    background: rgb(180,180,180);
    background: rgba(200,200,200,.9);
}
div.img-carousel span.paddle.left {
    left: 0;
}
div.img-carousel span.paddle.right {
    right: 0;
}
div.img-carousel div.images a {
    position: relative;
}
div.img-carousel div.images a #tooltip { 
    display: none;
    position: absolute;
    bottom: 275px;
    left: 0;
    color: #fff;
    z-index: 10;
    line-height: 1.5;
}
div.img-carousel div.images a:hover #tooltip {
    display: block;
    width: 100%;
}
div.img-carousel div.images #tooltip div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgb(80,80,80);
    display: block;
    padding: 1.5em;
}
div.img-carousel div.images #tooltip div p {
    display: block;
    
}
div.img-carousel div.images #tooltip:after  {
    content: "";
    background: none;
    display: block;
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(80,80,80);
}
div.img-carousel div.images #tooltip div p:last-child {
    margin-bottom: 0;
}
@media screen and (min-width: 0px) and (max-width: 739px) {
    section.prefooter {
        padding: 0;
    }
}

