/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.row {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* Home page grid adjustments */
.col.wrapper {
  padding: 0;
}

.col.wrapper .row .col {
  margin-left: 2.685%;
  padding: 0 1.344%;
}

.col.wrapper .row .col:first-child {
  margin-left: 0;
}

.col.wrapper .row .col.span_8 {
  width: 31.544%;
}

.col.wrapper .row .col.span_16 {
  width: 65.772%;
}

@media screen and (min-width: 0) and (max-width: 959px) {

  .col.wrapper .row .col {
    margin-left:2%;
        padding:0 1%;
  }

}

   /* 1. 24 Column Grid 0px - 719px 
    ----------------------------------------------------------------------------- 
    
    Span 1 - Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0) and (max-width: 719px) {
        
        .page {
            
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
            padding:0 1%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        .span_1,
        .span_2,
        .span_3,
        .span_4,
        .span_5,
        .span_6,
        .span_7,
        .span_8,
        .span_9,
        .span_10,
        .span_11,
        .span_12,
        .span_13,
        .span_14,
        .span_15,
        .span_16,
        .span_17,
        .span_18,
        .span_19,
        .span_20,
        .span_21,
        .span_22,
        .span_23,
        .span_24 {
            margin-left:0;
            width:100% !important;
        }

    }

    /* 2. 24 Column Grid 720px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    2.25%
    Span 2:    6.5%
    Span 3:    10.75%
    Span 4:    15.0%
    Span 5:    19.25%
    Span 6:    23.5%
    Span 7:    27.75%
    Span 8:    32.0%
    Span 9:    36.25%
    Span 10:    40.5%
    Span 11:    44.75%
    Span 12:    49.0%
    Span 13:    53.25%
    Span 14:    57.5%
    Span 15:    61.75%
    Span 16:    66.0%
    Span 17:    70.25%
    Span 18:    74.5%
    Span 19:    78.75%
    Span 20:    83.0%
    Span 21:    87.25%
    Span 22:    91.5%
    Span 23:    95.75%
    Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 720px) and (max-width: 959px) {
        
        .page {
            width: 720px;
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
          padding:0 1%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:2.25%;
        }
        .span_2 {
            width:6.5%;
        }
        .span_3 {
            width:10.75%;
        }
        .span_4 {
            width:15.0%;
        }
        .span_5 {
            width:19.25%;
        }
        .span_6 {
            width:23.5%;
        }
        .span_7 {
            width:27.75%;
        }
        .span_8 {
            width:32.0%;
        }
        .span_9 {
            width:36.25%;
        }
        .span_10 {
            width:40.5%;
        }
        .span_11 {
            width:44.75%;
        }
        .span_12 {
            width:49.0%;
        }
        .span_13 {
            width:53.25%;
        }
        .span_14 {
            width:57.5%;
        }
        .span_15 {
            width:61.75%;
        }
        .span_16 {
            width:66.0%;
        }
        .span_17 {
            width:70.25%;
        }
        .span_18 {
            width:74.5%;
        }
        .span_19 {
            width:78.75%;
        }
        .span_20 {
            width:83.0%;
        }
        .span_21 {
            width:87.25%;
        }
        .span_22 {
            width:91.5%;
        }
        .span_23 {
            width:95.75%;
        }
        .span_24 {
            margin-left:0;
            width:100%;
        }
    }

    /* 3. 24 Column Grid 960px - 1199px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    2.25%
    Span 2:    6.5%
    Span 3:    10.75%
    Span 4:    15.0%
    Span 5:    19.25%
    Span 6:    23.5%
    Span 7:    27.75%
    Span 8:    32.0%
    Span 9:    36.25%
    Span 10:    40.5%
    Span 11:    44.75%
    Span 12:    49.0%
    Span 13:    53.25%
    Span 14:    57.5%
    Span 15:    61.75%
    Span 16:    66.0%
    Span 17:    70.25%
    Span 18:    74.5%
    Span 19:    78.75%
    Span 20:    83.0%
    Span 21:    87.25%
    Span 22:    91.5%
    Span 23:    95.75%
    Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) and (max-width: 1199px) {
        
        .page { 
            width: 960px;
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
          padding:0 1%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:2.25%;
        }
        .span_2 {
            width:6.5%;
        }
        .span_3 {
            width:10.75%;
        }
        .span_4 {
            width:15.0%;
        }
        .span_5 {
            width:19.25%;
        }
        .span_6 {
            width:23.5%;
        }
        .span_7 {
            width:27.75%;
        }
        .span_8 {
            width:32.0%;
        }
        .span_9 {
            width:36.25%;
        }
        .span_10 {
            width:40.5%;
        }
        .span_11 {
            width:44.75%;
        }
        .span_12 {
            width:49.0%;
        }
        .span_13 {
            width:53.25%;
        }
        .span_14 {
            width:57.5%;
        }
        .span_15 {
            width:61.75%;
        }
        .span_16 {
            width:66.0%;
        }
        .span_17 {
            width:70.25%;
        }
        .span_18 {
            width:74.5%;
        }
        .span_19 {
            width:78.75%;
        }
        .span_20 {
            width:83.0%;
        }
        .span_21 {
            width:87.25%;
        }
        .span_22 {
            width:91.5%;
        }
        .span_23 {
            width:95.75%;
        }
        .span_24 {
            margin-left:0;
            width:100%;
        }
    }

    /* 4. 24 Column Grid 1200px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    2.25%
    Span 2:    6.5%
    Span 3:    10.75%
    Span 4:    15.0%
    Span 5:    19.25%
    Span 6:    23.5%
    Span 7:    27.75%
    Span 8:    32.0%
    Span 9:    36.25%
    Span 10:    40.5%
    Span 11:    44.75%
    Span 12:    49.0%
    Span 13:    53.25%
    Span 14:    57.5%
    Span 15:    61.75%
    Span 16:    66.0%
    Span 17:    70.25%
    Span 18:    74.5%
    Span 19:    78.75%
    Span 20:    83.0%
    Span 21:    87.25%
    Span 22:    91.5%
    Span 23:    95.75%
    Span 24:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 1200px) {
        
        .page { 
            width: 1200px;
            margin: 0 auto;
        }

        .col {
            margin-left:2%;
          padding:0 1%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:2.25%;
        }
        .span_2 {
            width:6.5%;
        }
        .span_3 {
            width:10.75%;
        }
        .span_4 {
            width:15.0%;
        }
        .span_5 {
            width:19.25%;
        }
        .span_6 {
            width:23.5%;
        }
        .span_7 {
            width:27.75%;
        }
        .grid-8,
        .span-8,
        .span_8 {
            width:32.0%;
        }
        .span_9 {
            width:36.25%;
        }
        .span_10 {
            width:40.5%;
        }
        .span_11 {
            width:44.75%;
        }
        .span_12 {
            width:49.0%;
        }
        .span_13 {
            width:53.25%;
        }
        .span_14 {
            width:57.5%;
        }
        .span_15 {
            width:61.75%;
        }
        .span_16 {
            width:66.0%;
        }
        .span_17 {
            width:70.25%;
        }
        .span_18 {
            width:74.5%;
        }
        .span_19 {
            width:78.75%;
        }
        .span_20 {
            width:83.0%;
        }
        .span_21 {
            width:87.25%;
        }
        .span_22 {
            width:91.5%;
        }
        .span_23 {
            width:95.75%;
        }
        .span_24 {
            margin-left:0;
            width:100%;
        }
    }

