/* FontAwesome css values:
 * Some fonts are listed below:
 *     "\f101": fa-angle-double-right
 *     "\f05a": fa-info-circle
 *     "\f071": fa-exclamation-triangle
 *     "\f016": fa-file-o
 */


/* =======================================
    1. GLOBAL
    ......................................  */
 html, body {
    margin: 0;
    padding: 0;
/*     height: 100%; */
}
body {
    font: 16px verdana, sans-serif;
    color: #333;
    background: #fefefe;
    background: #dadada url(../../../images/squairy.png);
    /*background: #ecf0f1;
    font: 12px verdana, sans-serif;*/
    color: #363636;
}

/* =======================================
    1.1 Typography
    ......................................  */
 @font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=4.0.3') format('svg');
    font-weight: normal;
    font-style: normal;
}
span.glyph {
    font: 1em'FontAwesome';
    text-transform: none;
    width: 1em;
    display: inline-block;
}
input[type="submit"].glyph {
    font: 1em'FontAwesome';
}
h1, h2 {
    font-weight: normal;
}
h1, h2, h3, h4 {
    font-family: georgia, 'times new roman', serif;
    /*text-transform: capitalize;*/
    margin-bottom: .5em;
    /*color: #444;*/
}
h5, h6 {
    font-family: verdana, sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
    /*color: #444;*/
}
h1 {
    font-size: 300%;
    line-height: 1;
    margin-bottom: .5em;
    /*font-variant: small-caps;*/
}
h1#page-title {
    margin-top: 1em;
    clear: both;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 120%;
}
h4 {
    font-size: 120%;
}
h5 {
    font-size: 100%;
}
h6 {
    font-size: 100%;
}
p, ol, ul, blockquote, pre, code {
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}
blockquote {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    background: #f2f2f2;
    text-align: left;
    margin: 0 0 1.5em;
    padding: 1.5em 1.5em .01em 6em;
}
blockquote p:first-child:before {
    font: 40px 'FontAwesome';
    content: "\f05a";           /* fa-info-circle */
    position: absolute;
    left: .5em;
    top: .5em;
}
blockquote.important p:first-child:before {
    font: 40px 'FontAwesome';
    content: "\f071";           /* fa-exclamation-triangle */
}

/* =======================================
    1.2 Images, Links, Lists
    ......................................  */
 img {
    border-width: 0;
    border-style: none;
    max-width: 100%;
}
a {
    color: #B10202;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover {
    text-decoration: underline;
    color: #333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
ul.no-bullet {
    list-style-type: none;
    padding: 0;
}
ul.bullet li a:before {
    font-family: 'FontAwesome';
    content: "\f016";           /* fa-file-o */
    float: left;
    width: 1em;
    margin-right: .5em;
}

/* =======================================
    1.3 Inputs
    ......................................  */
 input {
    outline: 0;
    margin: 0;
    height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
input[type="text"] {
    max-width: 100%;
    outline: 0;
    border: 1px solid #6c7778;
    box-shadow: none;
    border-collapse: separate;
    font: 1em verdana, sans-serif;
    padding: .125em .5em;
    background: -moz-linear-gradient(center top, #FFFFFF, #EEEEEE 1px, #FFFFFF 20px);
    background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    /*-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;*/
    /*-moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;*/
}
div.search-input-wrapper input[type="text"] {
    padding: .125em 3.625em .125em .5em;
}
input[type="text"]:hover {
    /*border-color: #777;*/
}
input[type="text"]:focus {
    /*box-shadow:0 0 2px #888;*/
    border-color: #444;
}
input[type="submit"] {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: #B10202;
    background: #c0392b;
    display: inline-block;
    padding: .25em 1em;
    color: #fff;
    text-decoration: none;/*
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);*/
    position: relative;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #c50000;
    background: #e74c3c;
}

/* =======================================
    1.4 Misc.
    ......................................  */
 hr {
    border: 0;
    border-bottom: 1px dashed #ddd;
    background: none;
}
.stilts {
    margin-bottom: 1.5em;
}
.clearfix:before, .clearfix:after {
    content:" ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* =======================================
    2. HEADER
    ......................................  */
 #header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
@media screen and (min-width: 0) and (max-width: 719px) {
    #header {
        background: #f2f2f2 !important;
    }
    .page.header {
        padding: 0;
    }
}
a.logo {
    float: left;
    background: rgba(255, 255, 255, .8);
    padding: .9em;
}
@media screen and (min-width: 0) and (max-width: 719px) {
    a.logo {
        width: 100% !important;
        float: none;
        margin: 0 auto;
        display: inline-block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}
@media screen and (min-width: 720px) and (max-width: 1199px) {
    a.logo {
        width: 432px;
    }
}
#logo {
/*    float: left; */
    width: 100%;
    max-width: 540px;
}
#global-header-bar .page {
    padding: 0;
}
#global-header-bar {
    /* background: #dedede url(../images/header-bkgrd.png) repeat-x top left; */
    /* height: 22px; */
    padding: 1px 0;
    border-bottom: solid 1px #999;
}
#global-header-bar ul {
    /* links in the unlv header */
    float: right;
    font-size: 10px;
}
#global-header-bar ul li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}
#global-header-bar ul a {
    color: #444;
    display: inline-block;
    padding: 5px;
    color: #333;
}
#global-header-bar ul a:after {
    font: 1em 'FontAwesome';
    content: " \f101";          /* fa-angle-double-right */
}
div.header {
    position: relative;
    min-height: 140px;
}
div.content {
    margin-bottom: 1.5em;
}
div.sidebar div.h2-block-title-wrapper {
    background: rgba(0, 0, 0, 0) url(../../../images/h2-line.png) center bottom repeat-x;
    margin-bottom: 1em;
}
div.sidebar div.h2-block-title-wrapper h2 {
    font-size: 125%;
    text-transform: uppercase;
    line-height: 1.5;
    background: #fff;
    display: inline;
    padding-right: 4px;
}
div.sidebar div.h2-block-title-wrapper:first-child h2 {
    margin-top: 0;
}
div.sidebar ul.split li {
    float: left;
    width: 48%;
}

@media screen and (min-width: 0) and (max-width: 959px) {
    div.sidebar ul.split li {
      float: none;
      width: auto;
    }
}

/* =======================================
    2.1 Navigation
    ......................................  */
 div.wrapper-navigation div.container, 
 div.wrapper-content div.container, 
 div.wrapper-footer div.container {
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 0 0 7px #888;
    -webkit-box-shadow: 0 0 7px #888;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 1.5em;
}
div.wrapper-header div.container {
    background: transparent url(../../../images/header-bg.png) center -22px no-repeat;
}
div.wrapper-header div.container img {
    display: block;
    margin: 4em auto;
}
div.wrapper-navigation div.container {
    background: #DADADA url(../../../images/nav-bg.png) repeat-x;
    padding: 0 10px;
}
div.wrapper-content div.container {
    background: #fff;
}
div.wrapper-footer div.container {
    background: #f2f2f2;
}
#main-navigation {
    padding: 0;
    position: relative;
    list-style-type: none;
    line-height: normal;
    margin: 0;
    text-align: center;
}
#main-navigation li {
    display: inline-block;
    margin: 0 1em;
}
#main-navigation li:hover a, #main-navigation li.currentpage a {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#main-navigation li a {
    font-family: Georgia, 'Times New Roman', serif;
    color: #8D0101;
    text-transform: uppercase;
    display: block;
    padding: 3px 1em;
    font-size: 18px;
    line-height: 1.5;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#main-navigation li a:hover {
    text-decoration: none;
}

@media screen and (min-width: 0) and (max-width: 959px) {
    #main-navigation li {
        display: inline-block;
        margin: 0 .5em;
    }
    #main-navigation li a {
        padding: 3px .5em;
    }
}

/* =======================================
    3. CONTENT
    ......................................  */
div.sidebar ul, div.sidebar ul li {
    padding: 0;
    list-style-type: none;
}
div.wrapper-content div.container {
    position: relative;
}
a.gethelp {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: transparent url(../../../images/gethelp.png) no-repeat top center;
}
a.gethelp:hover {
    background-image: url(../../../images/gethelp-hover.png);
}

/* =======================================
    4. FOOTER
    ......................................  */

/* =======================================
    4.1 Locations
    ......................................  */
.lib-branch {
}
.lib-branch.active {
    display: block;
}
div.map {
    /* map */
    display: inline-block;
    width: 100%;
    margin: 0;
    height: 10.15em;
    background-size: cover 100%;
    border: .25em solid #fcfcfc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-shadow: 3px 3px 5px 1px #e2e2e2;
    -webkit-box-shadow: 3px 3px 5px 1px #e2e2e2;
    box-shadow: 3px 3px 5px 1px #e2e2e2;
}
.map-lied {
    background: transparent url(../../../images/map-lied.png) center center no-repeat;
}
.map-arch {
    background: transparent url(../../../images/map-arch.png) center center no-repeat;
}
.map-curr {
    background: transparent url(../../../images/map-curr.png) center center no-repeat;
}
.map-music {
    background: transparent url(../../../images/map-music.png) center center no-repeat;
}
.map-law {
    background: transparent url(../../../images/map-law.png) center center no-repeat;
}

/* =======================================
    4.2 Contact
    ......................................  */
 .footer-block {
    display: block;
    margin-bottom: 1.5em;
}
.footer-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-block ul li a {
    border-top: 1px dashed #bebebe;
}
.footer-block ul li:last-child a {
    border-bottom: 1px dashed #bebebe;
}
.footer-block ul li a {
    display: block;
}
.footer-block ul li a:hover {
    background: #e6e6e6;
    text-decoration: none;
}
.footer-block ul li a:hover span.facebook {
    color: #3b5999;
}
.footer-block ul li a:hover span.twitter {
    color: #00aced;
}
.footer-block ul li a:hover span.youtube {
    color: #cb322c;
}
.footer-block a.last {
    margin-right: 0;
}

/* =======================================
    4.3 Copyright
    ......................................  */
 .copyright {
    display: inline-block;
}
.copyright a {
    color: #333;
}
a.user {
    /* user login link */
    float: right;
}
@media screen and (min-width: 0) and (max-width: 719px) {
    #footer h2.placeholder {
        display: none;
    }
}




div.search-tool-wrapper {
    margin: 35px auto 0;
    position: relative;
    width: 500px;
}
body.not-front div.search-tool-wrapper {
  display: inline-block;
  float: right;
  margin: 0;
  width: 470px;
}

form.sb_wrapper {
    display: inline-block;
    padding:0;
    width: 462px;
    position: relative;
    float: left;
}
body.not-front form.sb_wrapper {
  width: 440px;
}

form.sb_wrapper p {
    margin: 0;
}
form.sb_wrapper p,
form.sb_wrapper p .sb_input {
    width: 100%;
}

p.more-research {
    margin-bottom: .25em;
}
div.search-help {
    margin: 21px 0 0 .5em;
    position: relative;
    float: left;
}
div.search-help a {
    font-size: 1.5em;
    color: #3498db; 
    color: #2980b9;
    /*color: #95a5a6;*/
}
div.search-help a:hover + #tooltip {
    display: block;
}
div.search-help #tooltip { 
    display: none;
    position: absolute;
    top: -208px;
    left: -336px;
    color: #fff;
    z-index: 100;
}
body.responsive-layout-narrow div.search-help #tooltip { 
  left: -456px;
}
body.not-front div.search-help #tooltip {
  top: 24px;
  left: -575px;
}

div.search-help #tooltip div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(55,55,55,.95);
    width: 600px;
    display: block;
    padding: 1em;
}
body.front div.search-help #tooltip:after  {
    content: "";
    background: none;
    display: block;
    margin-left: 332px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(55,55,55,.95);
}
body.front.responsive-layout-narrow div.search-help #tooltip:after  {
  margin-left: 452px;
}
body.not-front div.search-help #tooltip:before  {
  content: "";
  background: none;
  display: block;
  margin-left: 571px;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(55,55,55,.95);
}

div.search-help #tooltip div p:last-child {
    margin-bottom: 0;
}




div.select2-container,
div.select2-container .select2-choice {
    border-radius: 0;
    /*border-radius: 0;*/
    box-shadow: none;
}
div.select2-container .select2-choice {
    min-width: 160px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: none;
    background: #95a5a6;
    border: 1px solid #6C7778;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e3e7e8); 
    background-image:    -moz-linear-gradient(top, #fff, #e3e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e3e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e3e7e8);
}
div.select2-container:hover .select2-choice {
    border: 1px solid #869293;
}
div.select2-container .select2-choice span.select2-arrow {
    width: 26px;
    border-radius: 0;
    background: #7f8c8d;
    border-left: 1px solid #6C7778;
    color:#777;
    background-color: #bdc3c7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f1), to(#bdc3c7));
    background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7); 
    background-image:    -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:     -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:      -o-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-color: #95a5a6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc3c7), to(#95a5a6));
    background-image: -webkit-linear-gradient(top, #bdc3c7, #95a5a6); 
    background-image:    -moz-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:     -ms-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:      -o-linear-gradient(top, #bdc3c7, #95a5a6);
}
div.select2-container:hover .select2-choice span.select2-arrow {
    border-color: #98a7a8;
    background: #95a5a6;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
div.select2-container .select2-choice span.select2-arrow b {
    background: transparent url(../../../images/arrow-down.png) no-repeat center center;
}
div.search-tool-wrapper-norm div.select2-container .select2-choice {
    width: 210px;
}
div.select2-container .select2-choice > .select2-chosen {
    margin-right: 40px;
    line-height: 28px;
    color: #c0392b;
    color: #fff;
    font-size: 1.1em;
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
}
div.select2-drop-active {
    border: 1px solid #6c7778;
    background: #fff;
    color: #444;
}
div.select2-drop-active .select2-results {
    max-height: 260px;
    margin: 0;
    padding: 0;
}
div.select2-drop-active .select2-highlighted {
    background: #ecf0f1;
    color: #444;
}
div.select2-search {
    padding: 4px;
}




div.search-tool-wrapper-norm {
    width: 582px;
}
form.sb_wrapper-norm {
    width: 558px;
} 
form.sb_wrapper-norm input[type="text"] {
    width: 342px;
    padding-left: 8px;
}
form.sb_wrapper .sb_input.normal {
    float: left;
}
div.search-tool-wrapper .select2-container {
    float: left;
    top: 0;
    left: 0;
    margin-right: .5em;
}
div.search-tool-wrapper .select2-container {  
}
div.search-tool-wrapper .select2-container .select2-choice span.select2-arrow {
    width: 40px;
}
div.search-tool-wrapper .select2-container .select2-choice {
    height: 40px;
}
div.search-tool-wrapper div.select2-container .select2-choice > .select2-chosen {
    margin-right: 48px;
    line-height: 36px; 
}




.sb_wrapper input[type="text"] {
    height: 40px;
    font-size: 1em;
    background: #fefefe;

}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
   /* border:1px solid #fff;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    -box-shadow:1px 1px 3px #555;*/
    outline:none;
    padding:6px 5px 6px 20px;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.sb_dropdown{
    background: #ecf0f1;
    background: #F9f9f9;
    position: absolute;
    top: 40px;
    list-style:none;
    padding: 5px;
    width: 100%;
    z-index: 99;
    border: 1px solid #666;
    border-top-width: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.sb_dropdown > li {
    display: block;
    margin: .25em 0 0 .5em;
}
ul.sb_dropdown > li span.search-type {
    font-weight: bold;
    float: left;
    width: 32%;
    text-align: right;
}
ul.sb_dropdown > li ul {
    float: left;
    padding: 0;
    margin: 0 0 .5em;
}
ul.sb_dropdown > li ul li {
    list-style-type: none;
    float: left;
    margin-left: 2em;
}
ul.sb_dropdown > li ul li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* padding: .25em .5em; */
    color: #333;
    position: relative;
    text-decoration: none;
}
ul.sb_dropdown > li ul li a:before {
    content: "\00a0";
    margin-right: .25em;
    color: #B10202;
    width: 1em;
    font-weight: bold;
    position: absolute;
    left: -.75em;
}
ul.sb_dropdown > li ul li a:hover,
ul.sb_dropdown > li ul li a.active {
    color: #B10202;
    border-radius: 3px;
}
ul.sb_dropdown > li ul li a.active:before {
    content: "\2713";
}
span.sb_up,
span.sb_down{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 36px;
    background-color: #f2f2f2;
    background: #8DB8CD;
    background: #B10202;
    background: #c0392b;
    background: #95a5a6;
    z-index: 10;
    -moz-box-shadow: 1px 0px 1px #ddd;
    -webkit-box-shadow: 1px 0px 1px #ddd;
    -box-shadow: 1px 0px 1px #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
span.sb_up{
    background-image:url(../img/up.png);
}
span.sb_down{
    background-image:url(../img/down.png);
}
input.sb_search[type="submit"]{
    font-family: 'FontAwesome';
    font-size: 2em;
    position: absolute;
    top: 2px;
    right: 2px;
    height:36px;
    width:46px;
    padding: 0;
}





div.ddm {
    float: left;
    margin-right: .5em;
    }
div.ddm div.selectbox {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 210px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #6C7778;
    background-color: #e3e7e8;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e3e7e8); 
    background-image:    -moz-linear-gradient(top, #fff, #e3e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e3e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e3e7e8);
    }
div.ddm div.selectbox.focus,
div.ddm div.selectbox.focus span.arrow,
div.ddm div.selectbox.focus + ul.drop {
    border-color: #777;
    /*-moz-box-shadow: 0 0 4px #DDDDDD;
    -webkit-box-shadow: 0 0 4px #DDD;
    box-shadow: 0 0 2px #2980b9;*/
}
div.ddm div.selectbox span.chosen {
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
    line-height: 38px;
    height: 40px;
    margin-left: 8px;
    font-size: 1.1em;
    }
div.ddm div.selectbox span.arrow {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 38px;
    border-left: 1px solid #6C7778;
    color:#666;
    font-size: 1.5em;
    line-height: 38px;
    text-align: center;
    background-color: #bdc3c7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f1), to(#bdc3c7));
    background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7); 
    background-image:    -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:     -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:      -o-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-color: #95a5a6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc3c7), to(#95a5a6));
    background-image: -webkit-linear-gradient(top, #bdc3c7, #95a5a6); 
    background-image:    -moz-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:     -ms-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:      -o-linear-gradient(top, #bdc3c7, #95a5a6);
    }
div.ddm div.selectbox:hover {
    }
div.ddm div.selectbox:hover span.arrow {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #95a5a6;
    }
div.ddm ul.drop {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 210px;
    top: 39px;
    position: absolute;
    padding: 0;
    list-style-type: none;
    background: #fff;
    border: 1px solid #95a5a6;
    z-index: 99;
    }
div.ddm ul.drop li {
    list-style-type: none;
    }
div.ddm ul.drop li ul li a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    cursor: pointer;
    }
div.ddm ul.drop li ul li a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background: #ecf0f1;
    color: #444;
    }
div.ddm ul.drop > li ul {
    margin-bottom: 0;
    padding: 0;
    }


/* to fix FAQ search page submit button problem. */
#edit-submit-faq {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 2em;
    height: 36px;
    width: 46px;
    margin-top: 0px;
}
