div.lib-branch {
  display: none;
}

div.lib-branch.active {
  display: block;
}

/* Blog Categories & Tags blocks */
#block-views-blog-content-block-3 h3,
#block-views-blog-content-block-4 h3 { margin-bottom: 5px; }

#block-views-blog-content-block-3 .views-row,
#block-views-blog-content-block-4 .views-row { display: none; }

/* CONTENT > gaming blog
------------------------------------------------------------*/
#block-views-blog-content-block-3	{ padding-bottom: 20px; }
#block-views-blog-content-block-3 h3 { margin: 0; }
#block-views-blog-content-block-4
div.views-field 							{ display: inline; text-decoration: none; margin-right: 5px; }
#block-views-blog-content-block-4
span.rank-0 a,
#block-views-blog-content-block-4
span.rank-1 a,
#block-views-blog-content-block-4
span.rank-2 a,
#block-views-blog-content-block-4
span.rank-3 a 								{ font-size: 250%; }
#block-views-blog-content-block-4
span.rank-4 a,
#block-views-blog-content-block-4
span.rank-5 a,
#block-views-blog-content-block-4
span.rank-6 a,
#block-views-blog-content-block-4
span.rank-7 a 								{ font-size: 200%; }
#block-views-blog-content-block-4
span.rank-8 a,
#block-views-blog-content-block-4
span.rank-9 a,
#block-views-blog-content-block-4
span.rank-10 a,
#block-views-blog-content-block-4
span.rank-11 a 								{ font-size: 150%; }
#block-views-blog-content-block-4
span.rank-12 a,
#block-views-blog-content-block-4
span.rank-13 a,
#block-views-blog-content-block-4
span.rank-14 a,
#block-views-blog-content-block-4
span.rank-15 a 								{ font-size: 100%; }
#block-views-blog-content-block-4
span.rank-16 a,
#block-views-blog-content-block-4
span.rank-17 a,
#block-views-blog-content-block-4
span.rank-18 a,
#block-views-blog-content-block-4
span.rank-19 a 	