/*
1000px grid system ~ Core CSS.
20 Columns ~ Margin left: 5px ~ Margin right: 5px

Based on the 1kb grid system - http://www.1kbgrid.com/
by Tyler Tate

Created by the Grid System Generator - v1.01
Learn more ~ http://www.gridsystemgenerator.com/

And hacked to pieces by z3cka :-P
*/

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

body {
  min-width: 1000px;
}

.container-20 {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.container-20 .grid-1 {width: 40px;}
.container-20 .grid-2 {width: 90px;}
.container-20 .grid-3 {width: 140px;}
.container-20 .grid-4 {width: 190px;}
.container-20 .grid-5 {width: 240px;}
.container-20 .grid-6 {width: 290px;}
.container-20 .grid-7 {width: 340px;}
.container-20 .grid-8 {width: 390px;}
.container-20 .grid-9 {width: 440px;}
.container-20 .grid-10 {width: 490px;}
.container-20 .grid-11 {width: 540px;}
.container-20 .grid-12 {width: 590px;}
.container-20 .grid-13 {width: 640px;}
.container-20 .grid-14 {width: 690px;}
.container-20 .grid-15 {width: 740px;}
.container-20 .grid-16 {width: 790px;}
.container-20 .grid-17 {width: 840px;}
.container-20 .grid-18 {width: 890px;}
.container-20 .grid-19 {width: 940px;}
.container-20 .grid-20 {width: 990px;}
.column {margin: 0 5px 0 5px;
         overflow: hidden;
         float: left;
         display: inline;}
.row {width: 1000px;
         margin: 0 auto;
         overflow: hidden;}
.row .row {margin: 0 -5px 0 -5px;
         width: auto;
         display: inline-block;}
