/* Start Additional Styles */

#top-bar {
    border-bottom: 1px solid #EEE;
    height: 23px;
    line-height: 22px;
    font-size: 12px;
	background-color:#EFEFEF;
	padding-bottom:5px;
    }

	.top-links li > a {
    display: block;
    padding: 0 12px;
    font-size: 11px;
    font-weight: 600;
    text-transform: none;
    height: 21px;
    color: #666;
    }

	.top-links ul li { height: auto; }

	#logo { height: auto; }

	.inv,
	.element-invisible { display: none; }

	.a-margin { margin: 0 15px 15px 15px; }

	h5, h6 { margin-bottom: 8px; }

    /* .accordion.accordion-border .acctitle, .accordion.accordion-border .acctitlec { line-height: 22px; margin-bottom:10px; }	 */

	.widget_links { margin-bottom: 5px; }

	.footer h4 { margin: 0 0 10px 0; }

	.panel .widget_links a { color: #E31936; }

	.even-panels [class*="panel"]{ margin-bottom: -99999px; padding-bottom: 99999px; }

    .even-panels { overflow: hidden; }

	#footer select { color: #E31936; background-color:#ffffff; }

    .r-margin {  margin-right:20px ; }

	.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }

	.red-color { color: #E31936; }

	.paragraph-title { color: #E31936; margin: 20px 0 5px 0; }

	.flex-main { display: -webkit-flex; /* Safari */ display: flex; }

    .flex-main .test { -webkit-flex: 1;  /* Safari 6.1+ */ -ms-flex: 1;  /* IE 10 */ flex: 1; }

	#footer { border-top: none; }

	.breadcrumb {
      position: absolute !important;
      width: auto !important;
      top: 50% !important;
      /*left: 32px !important;*/
      /*right: auto !important;*/
      margin: -10px 0 0 0 !important;
    }

	#page-title {
    position: relative;
    padding: 5px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
    }

	.content-wrap {
    position: relative;
    padding: 50px 0;
    }

	.ask-us { float:none; margin-top:8px; }
	.ask-us img { width: 40px; }

	@media screen and (min-width: 768px) {
    .ask-us { float:right; }
	.ask-us img { width: 54px; margin-right:14px; }
    }

	@media (max-width: 767px) {
    #page-title .breadcrumb {
    margin: 5px 0 0 !important;
    }
	}

	.fade-a:hover { transition: color 0.75s ease; color: #E31936; }

.color-line { height: 4px; width: 100%;


 background: linear-gradient(270deg, #e31936, #ffffff);
background-size: 400% 400%;

-webkit-animation: AnimationName 15s ease infinite;
-moz-animation: AnimationName 15s ease infinite;
animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}








/* Start Search bar */

div.search-tool-wrapper { float: left; }
.s-lib-profile-email a:link, a:focus { color: #ffffff; }
li { margin-left: 0em; }




/* =======================================
    1.3 Inputs
    ......................................  */
 input {
    outline: 0;
    margin: 0;
    height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
input[type="text"] {
    max-width: 100%;
    outline: 0;
    border: 1px solid #6c7778;
    box-shadow: none;
    border-collapse: separate;
    font: 1em verdana, sans-serif;
    padding: .125em .5em;
    background: -moz-linear-gradient(center top, #FFFFFF, #EEEEEE 1px, #FFFFFF 20px);
    background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    /*-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;*/
    /*-moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;*/
}
div.search-input-wrapper input[type="text"] {
    padding: .125em 3.625em .125em .5em;
}
input[type="text"]:hover {
    /*border-color: #777;*/
}
input[type="text"]:focus {
    /*box-shadow:0 0 2px #888;*/
    border-color: #444;
}
input[type="submit"] {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: #B10202;
    background: #c0392b;
    display: inline-block;
    padding: .25em 1em;
    color: #fff;
    text-decoration: none;/*
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);*/
    position: relative;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #c50000;
    background: #e74c3c;
}

/* =======================================
    1.4 Misc.
    ......................................  */
 hr {
    border: 0;
    border-bottom: 1px dashed #ddd;
    background: none;
}
.stilts {
    margin-bottom: 1.5em;
}
.clearfix:before, .clearfix:after {
    content:" ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


/* search */

div.search-tool-wrapper {
    margin: 35px auto 0;
    position: relative;
    width: 500px;
}
body.not-front div.search-tool-wrapper {
  display: inline-block;
  float: right;
  margin: 0;
  width: 470px;
}

form.sb_wrapper {
    display: inline-block;
    padding:0;
    width: 462px;
    position: relative;
    float: left;
}
body.not-front form.sb_wrapper {
  width: 440px;
}

form.sb_wrapper p {
    margin: 0;
}
form.sb_wrapper p,
form.sb_wrapper p .sb_input {
    width: 100%;
}

p.more-research {
    margin-bottom: .25em;
}
div.search-help {
    margin: 21px 0 0 .5em;
    position: relative;
    float: left;
}
div.search-help a {
    font-size: 1.5em;
    color: #3498db;
    color: #2980b9;
    /*color: #95a5a6;*/
}
div.search-help a:hover + #tooltip {
    display: block;
}
div.search-help #tooltip {
    display: none;
    position: absolute;
    top: -208px;
    left: -336px;
    color: #fff;
    z-index: 100;
}
body.responsive-layout-narrow div.search-help #tooltip {
  left: -456px;
}
body.not-front div.search-help #tooltip {
  top: 24px;
  left: -575px;
}

div.search-help #tooltip div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(55,55,55,.95);
    width: 600px;
    display: block;
    padding: 1em;
}
body.front div.search-help #tooltip:after  {
    content: "";
    background: none;
    display: block;
    margin-left: 332px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(55,55,55,.95);
}
body.front.responsive-layout-narrow div.search-help #tooltip:after  {
  margin-left: 452px;
}
body.not-front div.search-help #tooltip:before  {
  content: "";
  background: none;
  display: block;
  margin-left: 571px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(55,55,55,.95);
}

div.search-help #tooltip div p:last-child {
    margin-bottom: 0;
}




div.select2-container,
div.select2-container .select2-choice {
    border-radius: 0;
    /*border-radius: 0;*/
    box-shadow: none;
}
div.select2-container .select2-choice {
    min-width: 160px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: none;
    background: #95a5a6;
    border: 1px solid #6C7778;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e3e7e8);
    background-image:    -moz-linear-gradient(top, #fff, #e3e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e3e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e3e7e8);
}
div.select2-container:hover .select2-choice {
    border: 1px solid #869293;
}
div.select2-container .select2-choice span.select2-arrow {
    width: 26px;
    border-radius: 0;
    background: #7f8c8d;
    border-left: 1px solid #6C7778;
    color:#777;
    background-color: #bdc3c7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f1), to(#bdc3c7));
    background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:    -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:     -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:      -o-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-color: #95a5a6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc3c7), to(#95a5a6));
    background-image: -webkit-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:    -moz-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:     -ms-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:      -o-linear-gradient(top, #bdc3c7, #95a5a6);
}
div.select2-container:hover .select2-choice span.select2-arrow {
    border-color: #98a7a8;
    background: #95a5a6;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
div.select2-container .select2-choice span.select2-arrow b {
    background: transparent url(../../../images/arrow-down.png) no-repeat center center;
}
div.search-tool-wrapper-norm div.select2-container .select2-choice {
    width: 210px;
}
div.select2-container .select2-choice > .select2-chosen {
    margin-right: 40px;
    line-height: 28px;
    color: #c0392b;
    color: #fff;
    font-size: 1.1em;
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
}
div.select2-drop-active {
    border: 1px solid #6c7778;
    background: #fff;
    color: #444;
}
div.select2-drop-active .select2-results {
    max-height: 260px;
    margin: 0;
    padding: 0;
}
div.select2-drop-active .select2-highlighted {
    background: #ecf0f1;
    color: #444;
}
div.select2-search {
    padding: 4px;
}




div.search-tool-wrapper-norm {
    width: 582px;
}
form.sb_wrapper-norm {
    width: 558px;
}
form.sb_wrapper-norm input[type="text"] {
    width: 342px;
    padding-left: 8px;
}
form.sb_wrapper .sb_input.normal {
    float: left;
}
div.search-tool-wrapper .select2-container {
    float: left;
    top: 0;
    left: 0;
    margin-right: .5em;
}
div.search-tool-wrapper .select2-container {
}
div.search-tool-wrapper .select2-container .select2-choice span.select2-arrow {
    width: 40px;
}
div.search-tool-wrapper .select2-container .select2-choice {
    height: 40px;
}
div.search-tool-wrapper div.select2-container .select2-choice > .select2-chosen {
    margin-right: 48px;
    line-height: 36px;
}




.sb_wrapper input[type="text"] {
    height: 40px;
    font-size: 1em;
    background: #fefefe;

}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
   /* border:1px solid #fff;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    -box-shadow:1px 1px 3px #555;*/
    outline:none;
    padding:6px 5px 6px 20px;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.sb_dropdown{
    background: #ecf0f1;
    background: #F9f9f9;
    position: absolute;
    top: 40px;
    list-style:none;
    padding: 5px;
    width: 100%;
    z-index: 99999;
    border: 1px solid #666;
    border-top-width: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.sb_dropdown > li {
    display: block;
    margin: .25em 0 0 .5em;
}
ul.sb_dropdown > li span.search-type {
    font-weight: bold;
    float: left;
    width: 32%;
    text-align: right;
}
ul.sb_dropdown > li ul {
    float: left;
    padding: 0;
    margin: 0 0 .5em;
}
ul.sb_dropdown > li ul li {
    list-style-type: none;
    float: left;
    margin-left: 2em;
}
ul.sb_dropdown > li ul li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* padding: .25em .5em; */
    color: #333;
    position: relative;
    text-decoration: none;
}
ul.sb_dropdown > li ul li a:before {
    content: "\00a0";
    margin-right: .25em;
    color: #B10202;
    width: 1em;
    font-weight: bold;
    position: absolute;
    left: -.75em;
}
ul.sb_dropdown > li ul li a:hover,
ul.sb_dropdown > li ul li a.active {
    color: #B10202;
    border-radius: 3px;
}
ul.sb_dropdown > li ul li a.active:before {
    content: "\2713";
}
span.sb_up,
span.sb_down{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 36px;
    background-color: #f2f2f2;
    background: #8DB8CD;
    background: #B10202;
    background: #c0392b;
    background: #95a5a6;
    z-index: 10;
    -moz-box-shadow: 1px 0px 1px #ddd;
    -webkit-box-shadow: 1px 0px 1px #ddd;
    -box-shadow: 1px 0px 1px #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
span.sb_up{
    background-image:url(https://www.library.unlv.edu/profiles/janus2/themes/omegalib/css/universitylibraries/img/up.png);
}
span.sb_down{
    background-image:url(https://www.library.unlv.edu/profiles/janus2/themes/omegalib/css/universitylibraries/img/down.png);
}
input.sb_search[type="submit"]{
    font-family: 'FontAwesome';
    font-size: 2em;
    position: absolute;
    top: 2px;
    right: 2px;
    height:36px;
    width:46px;
    padding: 0;
	background-image:url(../../images/search-icon.png);
	background-repeat: no-repeat;
    background-position: center;
	background-size:20px;


}



div.ddm {
    float: left;
    margin-right: .5em;
    }
div.ddm div.selectbox {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 210px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #6C7778;
    background-color: #e3e7e8;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e3e7e8);
    background-image:    -moz-linear-gradient(top, #fff, #e3e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e3e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e3e7e8);
    }
div.ddm div.selectbox.focus,
div.ddm div.selectbox.focus span.arrow,
div.ddm div.selectbox.focus + ul.drop {
    border-color: #777;
    /*-moz-box-shadow: 0 0 4px #DDDDDD;
    -webkit-box-shadow: 0 0 4px #DDD;
    box-shadow: 0 0 2px #2980b9;*/
}
div.ddm div.selectbox span.chosen {
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
    line-height: 38px;
    height: 40px;
    margin-left: 8px;
    font-size: 1.1em;
    }
div.ddm div.selectbox span.arrow {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 38px;
    border-left: 1px solid #6C7778;
    color:#666;
    font-size: 1.5em;
    line-height: 38px;
    text-align: center;
    background-color: #bdc3c7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f1), to(#bdc3c7));
    background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:    -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:     -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:      -o-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-color: #95a5a6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc3c7), to(#95a5a6));
    background-image: -webkit-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:    -moz-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:     -ms-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:      -o-linear-gradient(top, #bdc3c7, #95a5a6);
    }
div.ddm div.selectbox:hover {
    }
div.ddm div.selectbox:hover span.arrow {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #95a5a6;
    }
div.ddm ul.drop {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 210px;
    top: 39px;
    position: absolute;
    padding: 0;
    list-style-type: none;
    background: #fff;
    border: 1px solid #95a5a6;
    z-index: 99;
    }
div.ddm ul.drop li {
    list-style-type: none;
    }
div.ddm ul.drop li ul li a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    cursor: pointer;
    }
div.ddm ul.drop li ul li a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background: #ecf0f1;
    color: #444;
    }
div.ddm ul.drop > li ul {
    margin-bottom: 0;
    padding: 0;
    }


div.search-tool-wrapper {
    margin: 5px auto 0;
    width: 100%;
}

form.sb_wrapper {
    width: 100%;
    /* min-width: 350px; */
}
