/*	This file will hold styles that are loaded using the same media query as the wide grid.  */

/*	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================
	1. GLOBAL
	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================	*/

#region-sidebar-second, 
#region-footer-first-right {
	width: 410px;
}

/*	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================
	2. HEADER
	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================	*/

/*  ======================================
    2.2 Library Search
    ======================================  */

#region-branding {
	margin: 0;
	width: 1200px;
}

/*	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================
	3. NAVIGATION
	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================	*/

ul#main-menu li a {
	padding: 3px 2em;
}

/*	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================
	4. CONTENT
	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================	*/

/*  ======================================
    4.2 Flexslider
    ======================================  */

div.flexslider_views_slideshow_main
ol.flex-control-paging {
	margin-top: 448px;
}

div.flexslider_views_slideshow_main
ul.flex-direction-nav {
	margin-top: 394px;
}

/*  ======================================
    4.7.1 eConnections
    ======================================  */

div.econrand {
	width: 430px;
}

div#econnections-tagline {
	width: 1160px;
}

/*	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================
	5. FOOTER
	==============================================================================
	//////////////////////////////////////////////////////////////////////////////
	==============================================================================	*/

/*  ======================================
    5.1.1 Map
    ======================================  */

#zone-footer div.locations div.map {
	float: right; width: 467px;
}