/*  This file will hold styles that are loaded using the same media query as the narrow grid.  */
/*  If you are using the default media queries provided by Omega, these styles will also
    apply to the normal and widescreen layouts. You may override these styles in the normal 
    and widescreen CSS files as appropriate.  */

section.section-content,
footer.section-footer {
    margin: 0;
}

section.section-content #zone-content {
    padding: 0;
}

footer.section-footer #zone-footer {
    padding: 1.5em 0 0;
}

/* =======================================
    1. GLOBAL
	......................................	*/
body {
    background: #dadada url(../images/squairy.png);
}

/* =======================================
    1.1 Typography
	......................................	*/

h1#page-title {
    width: 460px;
}

/* =======================================
    2. HEADER
	......................................	*/

header#section-header {
    background: none;
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#zone-user, 
#zone-user-wrapper {
    display: inherit;
}

#zone-user-wrapper {
    background: #dedede url(../images/header-bkgrd.png) repeat-x top left;
    height: 22px;
    padding: 1px 0;
    border-bottom: solid 1px #999;
}

#zone-user-wrapper p {
    margin: 0;
}
#region-user-second {
    display: block;
}
#region-user-first, #region-user-second {
    margin: 0;
}

#region-user-second, #region-user-second p {
    float: right;
}

#region-branding {
    width: 720px;
/*    padding: 2em 0 2em; */
}

div#block-library-content-todays-hours {
    display: block;
    background: none;
}

/* =======================================
    2.1.1 Header - Front Page
	......................................	*/

body.front #zone-branding {
    background: transparent url(../images/header-bg.png) center -22px no-repeat;
    background-size: 960px auto;
    padding-left: -10px;
}

body.front #region-branding div.branding-data {
    float: none;
}

body.front img#logo {
    background: none;
    width: 540px;
    margin: 0 auto;
    padding: 0;
}

/* =======================================
    2.1.2 Header - All Other Pages
	......................................	*/

#zone-branding {
    background: none;
}

#region-branding div.branding-data {
    float: left;
    margin: 0;
}

div.logo-img {
    background: none;
    margin: 0;
}

img#logo {
    width: 230px;
    background: none;
    padding: 0;
}

/* =======================================
    2.2.1 Library Search - Front Page
	......................................	*/

body.front #searchWrapper { /* wrapper for the whole search tool */
    margin: 2em auto 0;
    float: none;
    width: 540px;
}

body.front div#searchLib form input[type="text"] {
    float: left;
    width: 340px;
}

/* =======================================
    2.2.2 Library Search - All Other Pages
	......................................	*/
div#searchWrapper { /* wrapper for the whole search tool */
    margin: 1.25em 0 0;
    float: right;
    width: 480px;
}

div#searchLib { /* wrapper for the text input */
    margin-left: .5em;
    display: inline-block;
}

input[type="submit"].button-go { /* search button */
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    margin: 1px 1px 1px 0;
    color: transparent;
}

div#searchLib form input[type="submit"] {
    height: 38px;
}

div#searchLib form input[type="text"] {
    padding: 0 10px;
    float: left;
    width: 280px;
} 

/* =======================================
    3. NAVIGATION
    ......................................  */

div#zone-menu:before {
    display: none;
}

div#zone-menu {
    margin: 0 auto 1.5em;
    border: 1px solid #999;
    font: 1em Georgia, 'Times New Roman', serif;
    background: #dadada url(../images/nav-bg.png) repeat-x;
}

ul#main-menu {
    display: inline;
}

ul#main-menu li {
    background: none;
    float: none;
    display: inline-block;
    border: none;
    margin: 0 .5em;
}

ul#main-menu li a {
    background: none;
    padding: 3px .5em;
    margin: 0;
    font-size: 18px;
    display: inline-block;
    width: auto;
    color: #8d0101;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

ul#main-menu li a:hover,
ul#main-menu li a.active {
    color: #8d0101;
    background: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

a.mobile-menu {
    display: none;
}

/* =======================================
    4. CONTENT
	......................................	*/

/* =======================================
    4.2 Flexslider
	......................................	*/

div.flex-nav-container ul.flex-direction-nav {
    display: block;
    margin-top: 225px;
}

/* =======================================
    4.3 News Items
	......................................	*/

div.view-featured-items li.grid-5 { /* grid-8 */
    width: 220px;
}

div.view-featured-items li.newstile {
    margin-bottom: 0;
}

div.view-featured-items li.newstile img {
    display: block;
}

div.view-featured-items li.newstile div.views-field-title {
    height: 40px;
    overflow: hidden;
}

div.view-featured-items li.views-row-odd {
    margin-left: 0;
}

div.view-featured-items li.views-row-even {
    margin-right: 0;
}

/* =======================================
    4.5 FAQ Pages
	......................................	*/

#block-views-faq-categories-block ul li { /* two column category list */
    display: inline;
    float: left;
    width: 50%;
}

/* =======================================
    4.6.1 eConnections
	......................................	*/

div.econrand {
    width: 230px;
}

/* =======================================
    4.7 Sidebar
    ......................................  */

#region-sidebar-second,
#region-footer-first,
#region-footer-first-right {
    margin: 0 10px;
}

/* =======================================
    5. FOOTER
	......................................	*/

#zone-footer div.col.grid-6 {
    margin-right: 1%;
    margin-left: 1%;
}

/* =======================================
    5.1 Locations
    ......................................  */

#zone-footer div.map { /* map */
    float: right;
    display: inline-block;
    margin: -50px 0 20px;
    height: 10.6em;
    background-size: cover 100%;
    border: .25em solid #fcfcfc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-shadow:    3px 3px 5px 1px #e2e2e2;
    -webkit-box-shadow: 3px 3px 5px 1px #e2e2e2;
    box-shadow:         3px 3px 5px 1px #e2e2e2;
}

.map-lied {
    background: transparent url(../images/map-lied.png) center center no-repeat;
}

.map-arch {
    background: transparent url(../images/map-arch.png) center center no-repeat;
}

.map-curr {
    background: transparent url(../images/map-curr.png) center center no-repeat;
}

.map-music {
    background: transparent url(../images/map-music.png) center center no-repeat;
}

.map-law {
    background: transparent url(../images/map-law.png) center center no-repeat;
}

div#searchWrapper div.select2-container {
    float: left;
    display: inline-block;
}
div#searchWrapper div.select2-container .select2-choice {
    min-width: 192px;
}
