/*  This file will hold styles that are loaded using the same media query as the normal grid.  */
/*  If you are using the default media queries provided by Omega, these styles will also
    apply to the widescreen layout unless they are overridden by the widescreen styles.  */

/* =======================================
    1. GLOBAL
    ......................................  */

/* =======================================
    1.1 Typography
    ......................................  */

h1 {
    font-size: 300%;
}

h1#page-title {
    width: 620px;
}

/* =======================================
    2. HEADER
    ......................................  */

/* =======================================
    2.1.1 Header - Front Page
    ......................................  */

body.front #zone-branding {
    background-position: center -22px;
    background-size: 100% auto;
}

/* =======================================
    2.1.2 Header - All Other Pages
    ......................................  */

#region-branding {
    margin: 0;
    width: 960px;
}

#region-branding .branding-data {
  float: left;
}

img#logo {
    width: 420px;
}

/* =======================================
    2.2.1 Library Search - Front Page
    ......................................  */

/* =======================================
    2.2.2 Library Search - All Other Pages
    ......................................  */

div#searchWrapper {
    margin: 3em 0 0;
    float: right;
}

/* =======================================
    3. NAVIGATION
    ......................................  */

ul#main-menu li {
    margin: 0 1em;
}

ul#main-menu li a {
    padding: 3px 1em;
}

/* =======================================
    4. CONTENT
    ......................................  */

/* =======================================
    4.2 Flexslider
    ......................................  */

div.flex-nav-container ul.flex-direction-nav {
    margin-top: 315px;
}

/* =======================================
    4.3 News Items
    ......................................  */

div.view-featured-items li.grid-5 { /* grid-4 */
    width: 140px;
    margin: 0 10px;
}

div.view-featured-items li.views-row-1,
div.view-featured-items li.views-row-5 {
    margin-left: 0;
}

div.view-featured-items li.grid-5.views-row-5 { /* Firefox news tile fix */
    clear: left;
}

div.view-featured-items li.views-row-4,
div.view-featured-items li.views-row-8 {
    margin-right: 0;
}

/* =======================================
    4.6.1 eConnections
    ......................................  */

div.econrand {
    width: 310px;
}

/* =======================================
    4.7 Sidebar
    ......................................  */

#region-sidebar-second ul.split li {
    display: inline-block;
    width: 148px;
}
