.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.header2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}

.header3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
a: link {

	text-decoration: none;

	}
	
a: hover {
	text-decoration: underline;
	font-weight: bold;
	/* [disabled]alignment-adjust: central; */
	text-align: center;
}

.regular
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	text-decoration: none;
}

.white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
}

.white a:link {
	color: #ffff99;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	/* [disabled]text-decoration: none; */
}

p a: link {

	text-decoration: none;

	}
	
p a: hover {

	text-decoration: underline;
	font-weight: bold;
}

none {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	text-decoration: none;
}

none a: link {


	}
	
	none a: hover {

	text-decoration: underline;
	font-weight: bold;
}
#menu a:link {
	color: #ffffFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
}

#menu a:visited {
  color: #FFFFFF;text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

#menu a:hover {
	color: #CCCCCC;
	text-decoration: underline;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
}

#menu a:active {
	color: #ffffff;
}

#blog {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
}
#blog a:link {
	color: #ffff99;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	
}
#blog a:visited {
  color: #cccccc;text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
 
}

#blog a:hover {
	color: #ffff00;
	text-decoration: underline;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	
}

#blog a:active {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	
	}
#blog2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	color: #666666;
}
#blog2  a:link {
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#blog2  a:visited {
	color: #333333;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#blog2  a:hover {
	color: #999999;
	text-decoration: underline;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#foot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666666;
}
#foot a:link {
	color: #CC3300;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;	
}
#foot a:visited {
  color: #333333;text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
 
}

#foot a:hover {
	color: #FF0000;
	text-decoration: underline;
	
	font-family: Arial, Helvetica, sans-serif;	
}

#foot a:active {
	color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;	
	}
.style19 .regular a {
}

/* Casey's hacks :-P */
h1#page-title { display: none; }
body.page-node h1#page-title { display: block; }
#zone-content { background: #F6F6F6; overflow: auto; }

#block-views-blog-content-block-3 h3 { margin-bottom: 0; }
#block-views-blog-content-block-3 .views-row { display: none; }

#section-content,
h2.node-title,
footer.submitted,
div.region-sidebar-second-inner li,
div.region-sidebar-second-inner span.field-content,
div.region-sidebar-second-inner h3 {
  /*color: #000000;*/
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h2.node-title,
h2.node-title a {color: #333; font-weight: bold; }
div.region-sidebar-second-inner ul { padding-left: 0; -webkit-padding-start: 0; }
div.region-sidebar-second-inner li { list-style-type: none; }

h2.block-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

div#edit-search-wrapper,
div.views-submit-button,
div.field-label,
div.field-items,
ul.pager li { display: inline-block; }
ul.pager li.pager-next { margin-left: 5px; }

div.views-row div.field-name-field-categories,
div.views-row div.field-name-field-tags,
div.view-display-id-block_4 div.views-row span.field-content,
div.view-display-id-block_4 h3,
div.view-display-id-block_4 div.views-row,
div.views-row nav.links { display: none; }

/** temporarily hide things like comment form (until I write a script that will turn comments off for all gaming blog
  * posts) & links and tabs
  */
div#comments,
nav.links,
div.tabs { display: none; }

#block-views-exp-blog-content-page { margin-bottom: 20px; }

.block { border-top: 1px solid #333; }